.cj-show {
    display: block;
}

.cj-hide {
    display: none;
}

button:disabled {
    cursor: not-allowed;
}

.resume {
    font-family: time new romans;
}

.resume h1 {
    margin-top: 0;
}

.resume h4 {
    margin-top: 6px;
    color: #3983D4;
}

.resume h5 {
    margin-top: 2px;
    margin-bottom: 5px;
}

.resume .left-sec {
    background: #3983D4 !important;
    -ms-background: #3983D4 !important;
    color: #fff;
    text-align: center;
}

.resume .right-sec {
    vertical-align: top;
}

.right-sec span {
    color: #3983D4;
}

.table tr td {
    padding: 4px !important;
    vertical-align: top !important;
}