<app-header></app-header>
<!-- <div *ngIf="page_info && page_info.image">
    <img class="img-fluid" src="rgtapp/uploads/cms/pages/{{page_info.image}}">
</div> -->
<section class="visa-contents">
    <div class="container sidebar">
        <div class="row">
            <div class="col-sm-12">
                <h1>Tour Calculator</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a routerLink="/">Home</a>
                        </li>
                        <li class="breadcrumb-item active">Tour Calculator</li>
                    </ol>
                </nav>
                <div class="box box-warning tour-calc">
                    <mat-horizontal-stepper [linear]="isLinear" #stepper>
                        <mat-step [stepControl]="tourCalculatorForm">
                            <form [formGroup]="tourCalculatorForm" class="custom-material-form position-relative" (submit)="calculateHotelPkg(tourCalculatorForm.value)">
                                <ng-template matStepLabel>Create</ng-template>
                                <div class="row--">
                                    <div class="col-sm-12">
                                        <div class="box box-warning">
                                            <div class="box-header with-border">
                                                <h3 class="box-title">Create Your Package</h3>
                                            </div>
                                            <!-- /.box-header -->
                                            <div class="box-body">
                                                <div class="form-group row mb-0">
                                                    <div class="col-sm-1 col-6">
                                                        <mat-form-field class="form-control material-input mb-3 shadow">
                                                            <mat-select formControlName="totalAdults" placeholder="Adults *">
                                                                <mat-option *ngFor="let number of [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]" [value]="number">
                                                                    {{number}}
                                                                </mat-option>
                                                            </mat-select>
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="col-sm-2 col-6">
                                                        <mat-form-field class="form-control material-input mb-3 shadow">
                                                            <mat-select formControlName="totalChildrens" placeholder="Children">
                                                                <mat-option *ngFor="let number of [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]" [value]="number">
                                                                    {{number}}
                                                                </mat-option>
                                                            </mat-select>
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <mat-form-field class="form-control material-input mb-3 shadow">
                                                            <input matInput placeholder="Name *" class="rounded-5" formControlName="name">
                                                            <i-x-circle class="feather-x-circle" *ngIf="this.tourCalculatorForm.get('name').value" (click)="this.tourCalculatorForm.get('name').setValue('')"></i-x-circle>
                                                        </mat-form-field>
                                                        <div class="form-error" *ngIf="tourCalculatorForm.controls['name'].hasError('required') && tourCalculatorForm.controls['name'].touched">
                                                            Name required.
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <mat-form-field class="form-control material-input mb-3 shadow">
                                                            <input matInput placeholder="Email Address *" class="rounded-5" formControlName="email">
                                                            <i-x-circle class="feather-x-circle" *ngIf="this.tourCalculatorForm.get('email').value" (click)="this.tourCalculatorForm.get('email').setValue('')"></i-x-circle>
                                                        </mat-form-field>
                                                        <div class="form-error" *ngIf="tourCalculatorForm.controls['email'].hasError('required') && tourCalculatorForm.controls['email'].touched">
                                                            Email address required.
                                                        </div>
                                                        <div class="form-error" *ngIf="tourCalculatorForm.controls['email'].invalid && tourCalculatorForm.controls['email'].touched">
                                                            Email address not valid.
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <mat-form-field class="form-control material-input mb-3 shadow">
                                                            <input matInput placeholder="Phone # *" class="rounded-5" formControlName="phone" minlength="9" maxlength="20">
                                                            <i-x-circle class="feather-x-circle" *ngIf="this.tourCalculatorForm.get('phone').value" (click)="this.tourCalculatorForm.get('phone').setValue('')"></i-x-circle>
                                                        </mat-form-field>
                                                        <div class="form-error" *ngIf="tourCalculatorForm.controls['phone'].hasError('required') && tourCalculatorForm.controls['phone'].touched">
                                                            Phone number required.
                                                        </div>
                                                    </div>
                                                </div>
                                                <div formArrayName="hotelRows" *ngFor="let item of tourCalculatorForm.get('hotelRows')['controls']; let i = index;">
                                                    <div formGroupName="{{i}}" class="form-group row mb-0">
                                                        <input type="hidden" formControlName="ID">
                                                        <div class="col-sm-3">
                                                            <mat-form-field class="form-control material-input mb-3 shadow">
                                                                <!-- <mat-select matInput formControlName="hotelName" placeholder="Hotel Name">
                                            <mat-option *ngFor="let h of allHotels" [value]="h.ID">{{h.hotelName}}</mat-option>
                                        </mat-select> -->
                                                                <input matInput formControlName="hotelName" [matAutocomplete]="auto" placeholder="Hotel Name *">
                                                                <mat-autocomplete #auto="matAutocomplete">
                                                                    <mat-option *ngFor="let option of filteredOptions[i] | async" [value]="option.hotelName" (onSelectionChange)="onSelectionChange($event, i)">
                                                                        {{ option.hotelName }}
                                                                    </mat-option>
                                                                </mat-autocomplete>
                                                                <i-x-circle class="feather-x-circle" *ngIf="this.tourCalculatorForm.get('hotelRows').at(i).get('hotelName').value" (click)="this.tourCalculatorForm.get('hotelRows').at(i).get('hotelName').setValue('')">
                                                                </i-x-circle>
                                                            </mat-form-field>
                                                            <!-- <mat-form-field class="form-control material-input border-left-0 rounded-0 mobile-input-group-control mb-4 mb-sm-0 shadow-sm-none" [ngClass]="sideForm == true ? 'pl-2' : 'pl-0'">
                                        <input matInput formControlName="hotelName" placeholder="Where Are You Going?" [formControl]="hotelsAutocomplete" [matAutocomplete]="hAutocomplete">
                                        <mat-autocomplete #hAutocomplete="matAutocomplete" autoActiveFirstOption>
                                            <mat-option *ngFor="let option of filteredList | async" [value]="option">
                                                {{option}}
                                            </mat-option>
                                        </mat-autocomplete>
                                        <i-x-circle class="feather-x-circle" *ngIf="destValu" (click)="destValu=''"></i-x-circle>
                                    </mat-form-field> -->
                                                        </div>
                                                        <div class="col-sm-1 col-6 w-11">
                                                            <mat-form-field class="form-control material-input mb-3 shadow">
                                                                <input matInput [matDatepicker]="tourCheckIn" formControlName="tourCheckIn" (click)="tourCheckIn.open()" (dateChange)="calculateDate(i)" class="border-left-0 rounded-0" placeholder="Check In *" [min]="currDate">
                                                                <mat-datepicker touchUi #tourCheckIn></mat-datepicker>
                                                            </mat-form-field>
                                                        </div>
                                                        <div class="col-sm-1 col-6 w-11">
                                                            <mat-form-field class="form-control material-input mb-3 shadow">
                                                                <input matInput [matDatepicker]="tourCheckOut" formControlName="tourCheckOut" (click)="tourCheckOut.open()" (dateChange)="calculateDate(i)" class="border-left-0 rounded-0" placeholder="Check Out *" [min]="currDate">
                                                                <mat-datepicker touchUi #tourCheckOut></mat-datepicker>
                                                            </mat-form-field>
                                                        </div>
                                                        <div class="col-sm-1 w-10">
                                                            <mat-form-field class="form-control material-input mb-3 shadow">
                                                                <mat-select formControlName="dblRoom" placeholder="Double">
                                                                    <mat-option *ngFor="let number of [0,1,2,3,4,5,6,7,8,9,10]" [value]="number">
                                                                        {{number}}
                                                                    </mat-option>
                                                                </mat-select>
                                                            </mat-form-field>
                                                        </div>
                                                        <div class="col-sm-1 w-10">
                                                            <mat-form-field class="form-control material-input mb-3 shadow">
                                                                <mat-select formControlName="tplRoom" placeholder="Triple">
                                                                    <mat-option *ngFor="let number of [0,1,2,3,4,5,6,7,8,9,10]" [value]="number">
                                                                        {{number}}
                                                                    </mat-option>
                                                                </mat-select>
                                                            </mat-form-field>
                                                        </div>
                                                        <div class="col-sm-1 w-10">
                                                            <mat-form-field class="form-control material-input mb-3 shadow">
                                                                <mat-select formControlName="qdRoom" placeholder="Quad">
                                                                    <mat-option *ngFor="let number of [0,1,2,3,4,5,6,7,8,9,10]" [value]="number">
                                                                        {{number}}
                                                                    </mat-option>
                                                                </mat-select>
                                                            </mat-form-field>
                                                        </div>
                                                        <div class="col-sm-1 w-11">
                                                            <mat-form-field class="form-control material-input mb-3 shadow">
                                                                <input placeholder="Total Nights" class="rounded-5" formControlName="totalNights" readonly matInput>
                                                            </mat-form-field>
                                                        </div>
                                                        <!-- <div class="col-sm-1 w-11">
                                    <mat-form-field class="form-control material-input mb-3 shadow">
                                        <input placeholder="Room Price" class="rounded-5" formControlName="roomPrice" readonly matInput>
                                    </mat-form-field>
                                </div> -->
                                                        <div class="col-sm-1 col-6" *ngIf="i>0">
                                                            <button type="button" (click)="removeTourRow(i);" class="btn btn-danger p-2 shadow rounded-5">
                                                <i-x-circle class="feather"></i-x-circle> Remove
                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row mb-2">
                                                    <div class="col-sm-3">
                                                        <button type="button" (click)="addMoreTourRows();" class="btn btn-info p-2 shadow rounded-5">
                                                            <i-plus-circle class="feather"></i-plus-circle> Add More</button>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-sm-12 center">
                                                        <button class="btn btn-primary p-2 shadow rounded-5" matStepperNext><i-file-text class="feather"></i-file-text> Preview</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </mat-step>
                        <mat-step>
                            <ng-template matStepLabel>Preview Package</ng-template>
                            <div class="col-sm-12">
                                <div class="box box-warning">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Preview Package</h3>
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body">
                                        <div class="table-responsive" id="print-pkg-div" *ngIf="pkgPreview">
                                            <table class="table table-bordered table-stripped">
                                                <tr>
                                                    <td colspan="9">
                                                        <img src="https://rehmantravel.com/img/holiday-letter-head.png" width="100%" alt="" style="border-bottom:solid 1px;">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td height="22" bgcolor="#00AEEF" colspan="9" align="center"><b>Tour Booking</b></td>
                                                </tr>
                                                <tr>
                                                    <td height="22" class="blue" align="center"><b>Name</b></td>
                                                    <td height="22" colspan="2" class="blue" align="center"><b>Email</b></td>
                                                    <td height="22" colspan="2" class="blue" align="center"><b>Contact #</b></td>
                                                    <td height="22" colspan="3" class="blue" align="center"><b>Date / Time</b></td>
                                                    <td height="22" class="blue" align="center">Inquiry No :</td>
                                                </tr>
                                                <tr>
                                                    <td height="22" align="center">{{pkgPreview.postData.name}}</td>
                                                    <td height="22" colspan="2" align="center">{{pkgPreview.postData.email}}</td>
                                                    <td height="22" colspan="2" align="center">{{pkgPreview.postData.phone}}</td>
                                                    <td height="22" colspan="3" align="center">{{pkgPreview.postData.createDate | date : 'dd MMM yyyy hh:mm:ss'}}</td>
                                                    <td height="22" align="center"></td>
                                                </tr>
                                                <tr>
                                                    <td height="22" class="blue" rowspan="2" style="padding:3px;vertical-align: middle" align="center"><b>Passengers</b></td>
                                                    <td height="22" class="blue" align="center"><b>Adults</b></td>
                                                    <td height="22" class="blue" align="center"><b>Children</b></td>
                                                    <td height="22" class="blue" colspan="6" align="center"><b>Total Passengers</b></td>
                                                </tr>
                                                <tr>
                                                    <td height="22" align="center">{{pkgPreview.postData.totalAdults}}</td>
                                                    <td height="22" align="center">{{pkgPreview.postData.totalChildrens}}</td>
                                                    <td height="22" colspan="7" align="center">{{pkgPreview.postData.totalPax}}</td>
                                                </tr>
                                                <tr>
                                                    <td height="22" bgcolor="#00AEEF" colspan="9" align="center"><b>Accommodation Detail</b></td>
                                                </tr>
                                                <tr>
                                                    <td height="22" class="blue" align="center"><b>Hotel Name</b></td>
                                                    <td height="22" class="blue" align="center"><b>Type</b></td>
                                                    <td height="22" class="blue" align="center"><b>Check In</b></td>
                                                    <td height="22" class="blue" align="center"><b>Check Out</b></td>
                                                    <td height="22" class="blue" align="center"><b>Double</b></td>
                                                    <td height="22" class="blue" align="center"><b>Triple</b></td>
                                                    <td height="22" class="blue" align="center"><b>Quad</b></td>
                                                    <td height="22" class="blue" align="center"><b>Nights</b></td>
                                                    <td height="22" class="blue" align="center"><b>Room Price</b></td>
                                                </tr>
                                                <tr *ngFor="let h of pkgPreview.hotelData;let i=index">
                                                    <td height="22" class="blue" align="center">{{h.hotelName}}</td>
                                                    <td height="22" class="blue" align="center">{{h.typeId}} Star</td>
                                                    <td height="22" class="blue" align="center">{{h.checkInDate | date : 'mediumDate'}}</td>
                                                    <td height="22" class="blue" align="center">{{h.checkOutDate | date : 'mediumDate'}}</td>
                                                    <td height="22" class="blue" align="center">{{h.dblRoom}}</td>
                                                    <td height="22" class="blue" align="center">{{h.tplRoom}}</td>
                                                    <td height="22" class="blue" align="center">{{h.qdRoom}}</td>
                                                    <td height="22" class="blue" align="center">{{h.totalNights}}</td>
                                                    <td height="22" class="blue" align="center">{{pkgPreview.priceData[i].totalRoomsPrice}}</td>
                                                </tr>
                                                <tr>
                                                    <td colspan="7" align="right" class="blue"><b>Total Nights</b></td>
                                                    <td align="center" height="22"><b>{{pkgPreview.postData.grandTotalNights}}</b></td>
                                                    <td align="center" height="22">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td colspan="8" align="right" class="blue"><b>Total Room Prices</b></td>
                                                    <td align="center" height="22"><b><span class="blue">PKR: </span>{{pkgPreview.postData.grandTotalRoomPrice}}</b></td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-12">
                                                <button class="btn btn-info mr-2" matStepperPrevious><i-skip-back class="feather"></i-skip-back> Back</button>
                                                <button class="btn btn-success mr-2" (click)="confirmPkg()"><i-check-square class="feather"></i-check-square> Confirm</button>
                                                <button class="btn btn-warning" (click)="printPkg('print-pkg-div')"><i-printer class="feather"></i-printer> Print</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-step>
                    </mat-horizontal-stepper>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>