.search-flight-btn {
    border: 1px solid #fff;
}

.mat-option:focus:not(.mat-option-disabled),
.mat-option:hover:not(.mat-option-disabled),
.mat-option.mat-active {
    background: #827d7d !important;
    color: #fff !important;
}

.mat-datepicker-content .mat-calendar {
    height: auto !important;
}