
      	<footer class="pt-4">
	        <div class="container">
	          <div class="row">
	            <div class="col-sm-12 col-md-8 col-lg-9">
	              <div class="footer-title border-bottom mb-3">
	                <h3>Our Network</h3>
	              </div>
	              <div class="row">
	                <div class="col-6 col-lg-4">
	                  <div class="branch">
	                    <b class="border-bottom py-1 mb-2 d-block">ISLAMABAD</b>
	                    <p class="branch-address">Head Office 01 & 03, Allay Plaza, Near
	                      PIA Head Office, Fazl-e-Haq Road Blue
	                      Area </p>
	                    <p class="phone">Ph: +92-51-111-786-785</p>
	                  </div>
	                </div>
	                <div class="col-6 col-lg-4">
	                  <div class="branch">
	                    <b class="border-bottom py-1 mb-2 d-block">LAHORE</b>
	                    <p class="branch-address">Office # 202, 2nd Floor, Regency Plaza,
	                      MM Alam Road, Near Mini Market Round
	                      About, Gulberg </p>
	                    <p class="phone">Ph: +92-42-111-786-785</p>
	                  </div>
	                </div>
	                <div class="col-6 col-lg-4">
	                  <div class="branch">
	                    <b class="border-bottom py-1 mb-2 d-block">KARACHI</b>
	                    <p class="branch-address">
	                      #04, Lakson Square, Building #02, 
	                      Sarwar Shaheed Road, Karachi 
	                    </p>
	                    <p class="phone">Ph: +92-21-111-786-785</p>
	                  </div>
	                </div>
	                <div class="col-6 col-lg-4">
	                  <div class="branch">
	                    <b class="border-bottom py-1 mb-2 d-block">PESHAWAR CANTT</b>
	                    <p class="branch-address">
	                      Office # UG-89 Deans Trade Center, 
	                      Saddar road, Peshawar Cantt. 
	                    </p>
	                    <p class="phone">Ph: +92 91 5253051-4</p>
	                  </div>
	                </div>
	                <div class="col-6 col-lg-4">
	                  <div class="branch">
	                    <b class="border-bottom py-1 mb-2 d-block">UNIVERSITY ROAD PESHAWAR</b>
	                    <p class="branch-address">
	                      Liberty Mall, University Road. 
	                    </p>
	                    <p class="phone">Ph: +92-91-57-03-881 - 3</p>
	                  </div>
	                </div>
	                <div class="col-6 col-lg-4">
	                  <div class="branch">
	                    <b class="border-bottom py-1 mb-2 d-block">RAWALPINDI</b>
	                    <p class="branch-address">
	                      Office # B-37 Masood Arcade near 
	                      Pindorra IJP Road, Rawalpindi 
	                    </p>
	                    <p class="phone">Ph: +92-51-44-15-860 - 4</p>
	                  </div>
	                </div>
	                <div class="col-6 col-lg-4">
	                  <div class="branch">
	                    <b class="border-bottom py-1 mb-2 d-block">MALAKAND</b>
	                    <p class="branch-address">
	                      Office # 5, Royal Market 1st floor near 
	                      Tutakan Chowk, Batkhela, Malakand. 
	                    </p>
	                    <p class="phone">Ph: +92-93-2412022</p>
	                  </div>
	                </div>
	                <div class="col-6 col-lg-4">
	                  <div class="branch">
	                    <b class="border-bottom py-1 mb-2 d-block">ATTOCK</b>
	                    <p class="branch-address">
	                      Rehman Plaza, Opp Medicare Hospital
	                      Kamra Road Attock 
	                    </p>
	                    <p class="phone">Ph: +92 57 2702012-4</p>
	                  </div>
	                </div>
	                <div class="col-6 col-lg-4">
	                  <div class="branch">
	                    <b class="border-bottom py-1 mb-2 d-block">FLORIDA USA</b>
	                    <p class="branch-address">
	                      Office 6732, Cedar Ridge Circle, Milton
	                      Florida 
	                    </p>
	                    <p class="phone">Ph: +(1) 850 792 786 0</p>
	                  </div>
	                </div>
	                <div class="col-6 col-lg-4">
	                  <div class="branch">
	                    <b class="border-bottom py-1 mb-2 d-block">Jeddah</b>
	                    <p class="branch-address">
	                      Bani Malik near Bank Al Rajhi, Jeddah 
	                    </p>
	                    <p class="phone">Ph: +966 261 459 51</p>
	                  </div>
	                </div>
	                <div class="col-6 col-lg-4">
	                  <div class="branch">
	                    <b class="border-bottom py-1 mb-2 d-block">Makkah</b>
	                    <p class="branch-address">
	                      Office# 10, Siteen Street, Makkah
	                    </p>
	                    <p class="phone">Ph: +966-597-580-810</p>
	                  </div>
	                </div>
	                <div class="col-6 col-lg-4">
	                  <div class="branch">
	                    <b class="border-bottom py-1 mb-2 d-block">Medinah</b>
	                    <p class="branch-address">Office 702, Sultan Street Madinah</p>
	                    <p class="phone">Ph: +966-597-536-127</p>
	                  </div>
	                </div>
	              </div>
	              <!-- /row -->
	            </div>
	            <div class="col-sm-12 col-md-4 col-lg-3">
	              <div class="social-links d-flex justify-content-between border-bottom pb-3 mt-5 mt-lg-0">
	                <span data-feather="facebook"></span>
	                <span data-feather="twitter"></span>
	                <span data-feather="youtube"></span>
	                <span data-feather="instagram"></span>
	                <span data-feather="linkedin"></span>
	              </div>

	              <div class="py-4 payment-logos">
	                <p class="pb-1">We Accept</p>
	                <div class="d-flex justify-content-between ">
	                  <img src="assets/img/master-card.png" alt="">
	                  <img src="assets/img/visa-card.png" alt="">
	                  <img src="assets/img/jazz-cash.png" alt="">
	                </div>
	              </div>

	              <div class="site-links border-bottom">
	                <p class="py-2 border-bottom">Site Links</p>
	                <ul class="d-flex flex-wrap pl-0">
	                  <li>
	                    <a href="#">Home</a>
	                  </li>
	                  <li>
	                    <a href="#">Flights</a>
	                  </li>
	                  <li>
	                    <a href="#">Hotels</a>
	                  </li>
	                  <li>
	                    <a href="#">Visa</a>
	                  </li>
	                  <li>
	                    <a href="#">Tours</a>
	                  </li>
	                  <li>
	                    <a href="#">Umrah</a>
	                  </li>
	                  <li>
	                    <a href="#">Franchise</a>
	                  </li>
	                  <li>
	                    <a href="#">Jobs</a>
	                  </li>
	                  <li>
	                    <a href="#">About</a>
	                  </li>
	                  <li>
	                    <a href="#">Contact</a>
	                  </li>
	                </ul>
	              </div>

	              <div class="powered-by text-center">
	                <p class="pt-1 pb-0">Powered by <b>Exalted Systems</b></p>
	                <small class="text-muted">&copy; 2018 rehmantravel.com All Rights Reserved.</small>
	              </div>

	            </div>
	          </div>
	        </div>
      	</footer>