<footer class="pt-4">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8 col-lg-9">
                <div class="footer-title border-bottom mb-3">
                    <h3>Our Network</h3>
                </div>
                <div class="row">
                    <div class="col-6 col-lg-4" *ngFor="let branch of branches">
                        <div class="branch">
                            <b class="border-bottom py-1 mb-2 d-block"><i-map-pin class="feather d-none d-sm-inline-block"></i-map-pin> {{branch.branchName}}</b>
                            <p class="branch-address">{{branch.address}}</p>
                            <p class="phone" *ngIf="isMobile"><a href="tel:{{branch.dailablePhone}}">Ph:
									{{branch.branchPhone}}</a></p>
                            <p class="phone" *ngIf="!isMobile">Ph: {{branch.branchPhone}}</p>
                        </div>
                    </div>
                </div>
                <!-- /row -->
            </div>
            <div class="col-sm-12 col-md-4 col-lg-3">
                <div class="social-links d-flex justify-content-between border-bottom pb-3 mt-5 mt-lg-0">
                    <a title="Facebook" href="https://www.facebook.com/rehmantravelofficial">
                        <i-facebook class="feather"></i-facebook>
                    </a>
                    <a title="Twitter" href="https://twitter.com/rehmantravelcom">
                        <i-twitter class="feather"></i-twitter>
                    </a>
                    <a title="Instagram" href="https://www.instagram.com/rehmantravel/">
                        <i-instagram class="feather"></i-instagram>
                    </a>
                    <a title="Pinterest" href="https://www.pinterest.com/rehmantravel">
                        <i class="fa fa-2x fa-pinterest"></i>
                    </a>
                    <a title="Youtube" href="https://www.youtube.com/RehmanTravelsOfficial">
                        <i class="fa fa-2x fa-youtube"></i>
                    </a>
                    <!-- <span data-feather="facebook"></span>
                    <span data-feather="twitter"></span>
                    <span data-feather="youtube"></span>
                    <span data-feather="instagram"></span>
                    <span data-feather="linkedin"></span> -->
                </div>
                <div class="py-4 payment-logos">
                    <p class="pb-1">We Accept</p>
                    <div class="d-flex justify-content-between ">
                        <img src="assets/img/master-card.png" alt="Master Card Image Rehman Travels">
                        <img src="assets/img/visa-card.png" alt="Visa Card Image Rehman Travels">
                        <img src="assets/img/jazz-cash.png" alt="Jazz Cash Image Rehman Travels">
                    </div>
                </div>
                <div class="site-links border-bottom">
                    <p class="py-2 border-bottom">Site Links</p>
                    <ul class="d-flex flex-wrap pl-0">
                        <li *ngFor="let link of footerLinks">
                            <a routerLink="/{{link.urlLink}}">{{link.navbarTitle}}</a>
                        </li>
                    </ul>
                </div>
                <div class="powered-by text-center">
                    <p class="pt-1 pb-0">Powered by <b>Exalted Systems</b></p>
                    <small class="text-muted">&copy; 2018 rehmantravel.com All Rights Reserved.</small>
                </div>
            </div>
        </div>
    </div>
</footer>