<app-header></app-header>
<!-- Image Slider -->
<div class="mian-slider">
    <!-- Search Form -->
    <div class="main-search-form pt-sm-3 pt-5 pt-md-5">
        <div class="container">
            <div class="row card-deck">
                <div class="col-sm-12 form-col">
                    <div class="main-search-form-container">
                        <ul class="nav nav-tabs border-bottom-0" id="myTab" role="tablist">
                            <li class="nav-item mb-0">
                                <a class="nav-link rounded-0 border-0 active" id="flights-tab" data-toggle="tab" href="#flights">Flights</a>
                            </li>
                            <li class="nav-item mb-0">
                                <a class="nav-link rounded-0 border-0" id="hotels-tab" data-toggle="tab" href="#hotels">Hotels</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="flights" role="tabpanel" aria-labelledby="flights-tab">
                                <form [formGroup]="flightSearch" class="home-flight-search-for custom-material-form" (submit)="searchFlights(flightSearch.value)">
                                    <mat-radio-group class="d-block my-2" formControlName="flightType" (change)="setFlightType($event)">
                                        <mat-radio-button class="mr-3" value="Return"> Return</mat-radio-button>
                                        <mat-radio-button value="OneWay"> One Way</mat-radio-button>
                                    </mat-radio-group>
                                    <div class="form-group mobile-form-group shadow-sm shadow-xs-none">
                                        <div class="row no-gutters">
                                            <div class="col-sm-6 shadow-sm shadow-xs-none">
                                                <div class="input-group">
                                                    <div class="input-group-prepend mb-4 mb-sm-0 shadow-sm shadow-sm-none">
                                                        <span class="input-group-text rounded-0">
                                                            <i-map-pin></i-map-pin>
                                                        </span>
                                                    </div>
                                                    <mat-form-field class="form-control material-input border-left-0 rounded-0 mobile-input-group-control mb-4 mb-sm-0 shadow-sm shadow-sm-none">
                                                        <input matInput formControlName="flyingFrom" placeholder="Flying From" [matAutocomplete]="flyingFromAuto" (keyup)="filterFlyingFrom($event)">
                                                        <mat-autocomplete #flyingFromAuto="matAutocomplete">
                                                            <mat-option *ngFor="let sector of airlineSectors | async" [value]="sector">
                                                                {{sector}}
                                                            </mat-option>
                                                        </mat-autocomplete>
                                                        <i-x-circle class="feather-x-circle" *ngIf="flightSearch.get('flyingFrom').value" (click)="flightSearch.get('flyingFrom').setValue('')"></i-x-circle>
                                                    </mat-form-field>
                                                    <div class="input-group-prepend mb-4 mb-sm-0 shadow shadow-sm-none">
                                                        <span class="input-group-text rounded-0">
                                                            <i-map-pin></i-map-pin>
                                                        </span>
                                                    </div>
                                                    <mat-form-field class="form-control material-input border-left-0 rounded-0 mobile-input-group-control mb-4 mb-sm-0 shadow shadow-sm-none">
                                                        <input matInput formControlName="flyingTo" placeholder="Flying To" [matAutocomplete]="flyingToAuto" (keyup)="filterFlyingTo($event)">
                                                        <mat-autocomplete #flyingToAuto="matAutocomplete">
                                                            <mat-option *ngFor="let sector of flyToSectors | async" [value]="sector">
                                                                {{sector}}
                                                            </mat-option>
                                                        </mat-autocomplete>
                                                        <i-x-circle class="feather-x-circle" *ngIf="flightSearch.get('flyingTo').value" (click)="flightSearch.get('flyingTo').setValue('')"></i-x-circle>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="input-group mb-4 mb-sm-0">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text rounded-0">
                                                            <i-calendar (click)="departureDate.open()"></i-calendar>
                                                        </span>
                                                    </div>
                                                    <mat-form-field class="form-control material-input">
                                                        <input matInput [matDatepicker]="departureDate" formControlName="departureDate" (click)="departureDate.open()" class="border-left-0 rounded-0" placeholder="Departure Date" [min]="currDate">
                                                        <mat-datepicker touchUi #departureDate></mat-datepicker>
                                                    </mat-form-field>

                                                    <div class="input-group-prepend" (click)="returnDate.open()" [hidden]="!isReturn">
                                                        <span class="input-group-text rounded-0">
                                                            <i-calendar></i-calendar>
                                                        </span>
                                                    </div>
                                                    <mat-form-field class="form-control rounded-0 material-input" [hidden]="!isReturn">
                                                        <input matInput [matDatepicker]="returnDate" formControlName="returnDate" (click)="returnDate.open()" class="border-left-0 rounded-0" placeholder="Return Date" [min]="currDate">
                                                        <mat-datepicker touchUi #returnDate></mat-datepicker>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="input-group dropdown mb-4 mb-sm-0">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text rounded-0">
                                                            <i-users></i-users>
                                                        </span>
                                                    </div>
                                                    <button class="form-control border-left-0 rounded-0 text-left dropdown-toggle form-dropdown-btn" data-toggle="dropdown" id="flightPaxDropdownMenu" type="button">
                                                        <small class="d-block">No of Passenger</small>
                                                        <p class="d-inline-block mb-0">{{adults}} Adult, {{children}} Child, {{infant}} Infant</p>
                                                        <i-chevron-down class="dropdown-feather"></i-chevron-down>
                                                    </button>
                                                    <div aria-labelledby="flightPaxDropdownMenu" class="dropdown-menu shadow rounded-0 p-3" (click)="$event.stopPropagation()">
                                                        <div class="form-group">
                                                            <div class="input-group mb-3 text-center">
                                                                <div class="input-group-prepend">
                                                                    <button class="btn btn-sm btn-secondary rounded-0" type="button" (click)="decrementNumber('adults')">
                                                                        <i-minus class="dropdown-feather"></i-minus>
                                                                    </button>
                                                                </div>
                                                                <span class="form-control">{{adults}} Adults</span>
                                                                <input formControlName="adults" type="hidden" value="{{adults}}">
                                                                <div class="input-group-append">
                                                                    <button class="btn btn-sm btn-secondary rounded-0" type="button" (click)="incrementNumber('adults')">
                                                                        <i-plus class="dropdown-feather"></i-plus>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="input-group mb-3 text-center">
                                                                <div class="input-group-prepend">
                                                                    <button class="btn btn-sm btn-secondary rounded-0" type="button" (click)="decrementNumber('children')">
                                                                        <i-minus class="dropdown-feather"></i-minus>
                                                                    </button>
                                                                </div>
                                                                <span class="form-control">{{children}} Children</span>
                                                                <input formControlName="children" type="hidden" value="0">
                                                                <div class="input-group-append">
                                                                    <button class="btn btn-sm btn-secondary rounded-0" type="button" (click)="incrementNumber('children')">
                                                                        <i-plus class="dropdown-feather"></i-plus>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="input-group mb-3 text-center">
                                                                <div class="input-group-prepend">
                                                                    <button class="btn btn-sm btn-secondary rounded-0" type="button" (click)="decrementNumber('infant')">
                                                                        <i-minus class="dropdown-feather"></i-minus>
                                                                    </button>
                                                                </div>
                                                                <span class="form-control">{{infant}} Infant</span>
                                                                <input formControlName="infant" type="hidden" value="0">
                                                                <div class="input-group-append">
                                                                    <button class="btn btn-sm btn-secondary rounded-0" type="button" (click)="incrementNumber('infant')">
                                                                        <i-plus class="dropdown-feather"></i-plus>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="dropdown-divider"></div>
                                                        <a class="float-right" (click)="closeDropDown($event)">
                                                            <i-check class="dropdown-feather text-success float-left m-1"></i-check>
                                                            <span class="float-right">Done</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-right">
                                        <button class="btn btn-primary shadow rounded-0 search-flight-btn">Search Flights</button>
                                    </div>
                                </form>
                                <!-- /Flights Form - Round Trip -->
                            </div>
                            <div class="tab-pane fade" id="hotels" role="tabpanel" aria-labelledby="hotel-tab">
                                <app-hotel-search-form></app-hotel-search-form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /Row -->
        </div>
        <!-- /Container -->
    </div>
    <!-- /Search Form -->

    <img src="assets/slider/koblenz-3453860_1920.jpg" class="img-fluid d-none d-sm-block" alt="">
</div>


<!-- Deals -->
<section class="deals-section">
    <div class="container">
        <div class="section-title">
            <h1>Make your best deals</h1>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, natus rerum unde alias quam fuga eos esse.</p>
        </div>

        <div class="card-deck">
            <div class="card shadow rounded-0 mb-sm-4 mb-lg-0">
                <img class="card-img-top rounded-0" src="assets/img/Serene-Air-Planes-1-1024x650.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Serene Air Promotional Fares</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.
                    </p>
                    <p class="card-text">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </p>
                    <button class="btn btn-outline-primary btn-sm shadow rounded-0">View Deal</button>
                </div>
            </div>
            <div class="card shadow rounded-0 mb-sm-4 mb-lg-0">
                <img class="card-img-top rounded-0" src="assets/img/132278307.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Get upto 24% Discount on Al Kiswa Tower rooms</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                    <p class="card-text">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </p>
                    <button class="btn btn-outline-primary btn-sm shadow rounded-0">View Deal</button>
                </div>
            </div>
            <div class="w-100 d-none d-sm-block d-lg-none"></div>
            <div class="card shadow rounded-0 mb-sm-4 mb-lg-0">
                <img class="card-img-top rounded-0" src="assets/img/Boeing_747-367,_Pakistan_International_Airlines_(PIA)_JP290327.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">PIA Special Fares</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
                    </p>
                    <p class="card-text">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </p>
                    <button class="btn btn-outline-primary btn-sm shadow rounded-0">View Deal</button>
                </div>
            </div>
            <div class="card shadow rounded-0 mb-sm-4 mb-lg-0">
                <img class="card-img-top rounded-0" src="assets/img/Qatar-Airways.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Qatar Air Promotional Fares</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
                    </p>
                    <p class="card-text">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </p>
                    <button class="btn btn-outline-primary btn-sm shadow rounded-0">View Deal</button>
                </div>
            </div>
        </div>

        <div class="section-details-button">
            <button class="btn btn-primary rounded-0 shadow">View All Deals</button>
        </div>

    </div>
</section>
<!-- /Deals -->

<!-- Subscribe for deals -->
<section class="subscribe-deal">
    <h1 class="text-center">Subscribe For Deals Section</h1>
</section>
<!-- /Subscribe for deals -->

<!-- Top Destinations -->
<section class="top-destinations">
    <div class="container">
        <div class="section-title">
            <h1>top destinations</h1>
        </div>

        <div class="card-deck">
            <div class="card shadow rounded-0 mb-sm-4 mb-lg-0" *ngFor="let item of popularVisa;">
                <img class="card-img-top rounded-0" src="{{ baseUrl+item.visaThumbnail }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ item.countryName }}</h5>
                    <p class="card-text">{{ item.shortDescription }}
                    </p>
                    <p class="card-title">{{ item.currencyCode }} {{ item.visaPrice }}</p>
                    <a class="btn btn-outline-primary btn-sm shadow rounded-0" routerLink="{{ item.visaUrl }}">View Details</a>
                </div>
            </div>
            <!-- <div class="card shadow rounded-0 mb-sm-4 mb-lg-0">
                <img class="card-img-top rounded-0" src="assets/img/destinations/sg-trip.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Singapore</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                    <p class="card-title">PKR 70,000/-</p>
                    <button class="btn btn-outline-primary btn-sm shadow rounded-0">View Details</button>
                </div>
            </div>
            <div class="w-100 d-none d-sm-block d-lg-none"></div>
            <div class="card shadow rounded-0 mb-sm-4 mb-lg-0">
                <img class="card-img-top rounded-0" src="assets/img/destinations/5ad9c5d3ef0e6.jpeg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Turkey</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
                    </p>
                    <p class="card-title">PKR 70,000/-</p>
                    <button class="btn btn-outline-primary btn-sm shadow rounded-0">View Details</button>
                </div>
            </div>
            <div class="card shadow rounded-0 mb-sm-4 mb-lg-0">
                <img class="card-img-top rounded-0" src="assets/img/destinations/thailand.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Thailand</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
                    </p>
                    <p class="card-title">PKR 70,000/-</p>
                    <button class="btn btn-outline-primary btn-sm shadow rounded-0">View Details</button>
                </div>
            </div>-->
        </div>
        <div class="section-details-button">
            <button class="btn btn-primary rounded-0 shadow" routerLink="/visa">View All Destinations</button>
        </div>
    </div>
</section>
<!-- /Top Destinations -->

<!-- Services -->
<section class="services">
    <div class="container">
        <div class="section-title">
            <h1>what we offer</h1>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, natus rerum unde alias quam fuga eos esse.</p>
        </div>

        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <div class="service">
                    <div class="row">
                        <div class="col-3">
                            <div class="service-icon bg-primary text-center p-3 p-sm-1 p-md-3 text-white">
                                <img src="assets/img/online-ticketing-ic.png" class="img-fluid" alt="">
                            </div>
                        </div>
                        <div class="col-9">
                            <h2 class="service-title">Online Tickets</h2>
                            <p class="service-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi aut culpa magni distinctio optio suscipit explicabo porro hic? Debitis deserunt veniam mollitia eos corrupti recusandae explicabo, aperiam at nihil sunt?</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="service">
                    <div class="row">
                        <div class="col-3">
                            <div class="service-icon bg-primary text-center p-3 p-sm-1 p-md-3 text-white">
                                <img src="assets/img/hotel-reservation-ic.png" class="img-fluid" alt="">
                            </div>
                        </div>
                        <div class="col-9">
                            <h2 class="service-title">Online Hotel Reservation</h2>
                            <p class="service-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi aut culpa magni distinctio optio suscipit explicabo porro hic? Debitis deserunt veniam mollitia eos corrupti recusandae explicabo, aperiam at nihil sunt?</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="service">
                    <div class="row">
                        <div class="col-3">
                            <div class="service-icon bg-primary text-center p-3 p-sm-1 p-md-3 text-white">
                                <img src="assets/img/world-tour-ic.png" class="img-fluid" alt="">
                            </div>
                        </div>
                        <div class="col-9">
                            <h2 class="service-title">Word Tours</h2>
                            <p class="service-text">lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi aut culpa magni distinctio optio suscipit explicabo porro hic? Debitis deserunt veniam mollitia eos corrupti recusandae explicabo, aperiam at nihil sunt?</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="service">
                    <div class="row">
                        <div class="col-3">
                            <div class="service-icon bg-primary text-center p-3 p-sm-1 p-md-3 text-white">
                                <img src="assets/img/visa-icon.png" class="img-fluid" alt="">
                            </div>
                        </div>
                        <div class="col-9">
                            <h2 class="service-title">Online Visa Processing</h2>
                            <p class="service-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi aut culpa magni distinctio optio suscipit explicabo porro hic? Debitis deserunt veniam mollitia eos corrupti recusandae explicabo, aperiam at nihil sunt?</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="service">
                    <div class="row">
                        <div class="col-3">
                            <div class="service-icon bg-primary text-center p-3 p-sm-1 p-md-3 text-white">
                                <img src="assets/img/hajj-umrah-ic.png" class="img-fluid" alt="">
                            </div>
                        </div>
                        <div class="col-9">
                            <h2 class="service-title">Executive Hajj & Umrah</h2>
                            <p class="service-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi aut culpa magni distinctio optio suscipit explicabo porro hic? Debitis deserunt veniam mollitia eos corrupti recusandae explicabo, aperiam at nihil sunt?</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="service">
                    <div class="row">
                        <div class="col-3">
                            <div class="service-icon bg-primary text-center p-3 p-sm-1 p-md-3 text-white">
                                <img src="assets/img/pakistan-tour-ic.png" class="img-fluid" alt="">
                            </div>
                        </div>
                        <div class="col-9">
                            <h2 class="service-title">Pakistan Tours</h2>
                            <p class="service-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi aut culpa magni distinctio optio suscipit explicabo porro hic? Debitis deserunt veniam mollitia eos corrupti recusandae explicabo, aperiam at nihil sunt?</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
<!-- /Services -->


<!-- About -->
<section class="about-section">
    <div class="container">
        <div class="section-title">
            <h1>we are well organised</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur hic, pariatur ad commodi autem.</p>
        </div>

        <p>Rehmantravel.com is a leading online travel agency. Our services include Flights Reservation/Airline Tickets, Travel Insurance, Hotel Reservation System, Visa Services, Umrah and Hajj. All our rates are competitive rates. We are known for After
            Sale Services. We Rehmantravel.com are always working for the special deals to facilitate our valuable clients. These are the lowest and market competitive offers for UK, USA, Canada & Australia based frequent travelers. Rehmantravel.com is
            offering all the transaction via online Banking.. Rehmantravel.com has its user friendly interface and you can purchase online ticket in just few clicks. Moreover our design is also compatible to fit on every desired device which helps user
            in finding the lowest rates. All you need to do is enter your travelling dates and destinations, rest Rehmantravel.com will find you with the lowest airfares. You can also filter/customize your search by selecting the specific airlines.</p>

        <p>Rehmantravel.com has its head office in Islamabad and branches available in major cities; i.e. Lahore, Karachi, Peshawar, Attock, Malakand and many more. We have also options to purchase products by using credit card or online banking. Make your
            booking now and start your memorable journey. We always have special deals, keep visiting rehmantravel.com. We have cheapest rates of all Airlines like PIA, Emirates Airline, Saudi Airline, Thai Airways, Qatar Airways, Oman Air, Fly Dubai,
            Air Lanka, Air China, Nas Airline and lot others. We have more than 400 Airlines listed and you will get the best match as per your need. We are not limited to only GDS airlines you can also avail our services for NON GDS airlines like AirBlue,
            Shaheen Air, Air Asia, Serene Air etc. We are open for 7 days a week from 9AM till 12AM. You can call our UAN number 051 111 786 785 for further assistance.</p>

        <app-popular-airline-and-hotels></app-popular-airline-and-hotels>
    </div>
    <!-- /container -->
</section>
<!-- /About -->
<app-footer></app-footer>