<app-header></app-header>
<div>
  <img class="img-fluid" src="assets/img/visa-background-image.jpg">
</div>
<section class="visa-contents">
    <div class="container sidebar">
     <!-- <div class="section-title">
        <h1>visit visa</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>-->
      <div class="row">
        <div class="col-sm-3">
          <div class="sidebar-list">
            <app-requst-call-back-form></app-requst-call-back-form>
          </div>

          <div class="sidebar-subscribe mt-4">
            <p class="mb-0">Subscribe to Get Amazing Offers</p>
            <h3>Tour Alerts</h3>
            <button class="btn btn-secondary">Subscribe</button>
          </div>
        </div>
        <div class="col-sm-9" *ngIf="page_info">
        	<h1>{{ page_info.name }}</h1>
        	<nav _ngcontent-c37="" aria-label="breadcrumb">
  	          <ol _ngcontent-c37="" class="breadcrumb">
  	            <li class="breadcrumb-item">
  	              <a routerLink="/">Home</a>
  	            </li>
  	            <li class="breadcrumb-item active">{{ page_info.name }}</li>
  	          </ol>
  	        </nav>
        	<div [innerHTML]="page_info.description"></div>
        </div>
      </div>
    </div>
</section>
<app-footer></app-footer>