<app-header></app-header>
<div *ngIf="page_info && page_info.image">
    <img class="img-fluid" src="rgtapp/uploads/cms/pages/{{page_info.image}}">
</div>
<section class="visa-contents">
    <div class="container sidebar">
        <div class="row">
            <div class="col-sm-3 order-last order-sm-first">
                <div class="sidebar-list">
                    <app-requst-call-back-form></app-requst-call-back-form>
                </div>
                <div class="sidebar-list mt-4" *ngIf="popularVisa">
                    <h3 class="sidebar-title">Amazing Visa Offers</h3>
                    <ul>
                        <li *ngFor="let item of popularVisa;"><a routerLink="/{{ item.visaUrl }}">{{ item.countryName }}
                <span class="float-right">{{item.validityId}}</span></a></li>
                    </ul>
                    <a routerLink="/visa" class="view-all">View All</a>
                </div>
                <!-- <div class="sidebar-subscribe mt-4">
                    <p class="mb-0">Subscribe to Get Amazing Offers</p>
                    <h3>Tour Alerts</h3>
                    <button class="btn btn-secondary">Subscribe</button>
                </div> -->
            </div>
            <div class="col-sm-9 order-sm-2" *ngIf="page_info">
                <h1>{{ page_info.name }}</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a routerLink="/">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/airmiles">Air Miles</a>
                        </li>
                        <li class="breadcrumb-item active">{{ page_info.name }}</li>
                    </ol>
                </nav>
                <div [innerHTML]="page_info.description | iframe"></div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>