<h3 class="sidebar-title">Request a call back</h3>
<form class="main-search-form position-relative" novalidate="">
  <div class="form-group">
  	<mat-form-field class="form-control mb-3">
  	<input matInput  placeholder="Name" class="rounded-5 mb-4 mb-sm-0">
  	</mat-form-field>
  	<mat-form-field class="form-control mb-3">
  	<input matInput placeholder="Email" class="rounded-5 mb-4 mb-sm-0">
  	</mat-form-field>
  	<mat-form-field class="form-control mb-3">
  	<input matInput placeholder="Phone" class="rounded-5 mb-4 mb-sm-0">
  	</mat-form-field>
  	<mat-form-field class="form-control mb-3">
  	<textarea matInput cols="33" placeholder="Message" class="rounded-5 mb-4 mb-sm-0"></textarea>
    </mat-form-field>
    <br>
  	<button class="btn btn-primary btn-block btn-lg shadow rounded-0" type="submit" disabled="">Sumbit Query</button>
  </div>
</form>