<h3 class="sidebar-title">Request a call back</h3>

<form class="main-search-form position-relative" [formGroup]="contactForm" (ngSubmit)="onSubmit(contactForm.value)">
    <div class="form-group">
        <mat-form-field class="form-control border-input mb-2 mb-sm-1 shadow">
            <input matInput placeholder="Name" class="rounded-5" formControlName="name" required>
            <i-x-circle class="feather-x-circle" *ngIf="this.contactForm.get('name').value" (click)="this.contactForm.get('name').setValue('')"></i-x-circle>
            <mat-error class="mt-1" *ngIf="errors && contactForm.controls['name'].invalid">{{errors.name}}</mat-error>
        </mat-form-field>
        <div class="form-error" *ngIf="contactForm.controls['name'].hasError('required') && contactForm.controls['name'].touched">
            Name required.
        </div>
    </div>
    <div class="form-group">
        <mat-form-field class="form-control border-input mb-2 mb-sm-1 shadow">
            <input matInput placeholder="Email" class="rounded-5" formControlName="email" required>
            <i-x-circle class="feather-x-circle" *ngIf="this.contactForm.get('email').value" (click)="this.contactForm.get('email').setValue('')"></i-x-circle>
            <mat-error class="mt-1" *ngIf="errors && contactForm.controls['email'].invalid">{{errors.email}}</mat-error>
        </mat-form-field>
        <div class="form-error" *ngIf="contactForm.controls['email'].hasError('required') && contactForm.controls['email'].touched">
            Email address required.
        </div>
        <div class="form-error" *ngIf="contactForm.controls['email'].invalid && contactForm.controls['email'].touched">
            Email address not valid.
        </div>
    </div>
    <div class="form-group">
        <mat-form-field class="form-control border-input mb-2 mb-sm-1 shadow">
            <input matInput placeholder="Phone" class="rounded-5" formControlName="phone" required>
            <i-x-circle class="feather-x-circle" *ngIf="this.contactForm.get('phone').value" (click)="this.contactForm.get('phone').setValue('')"></i-x-circle>
            <mat-error class="mt-1" *ngIf="errors && contactForm.controls['phone'].invalid">{{errors.phone}}</mat-error>
        </mat-form-field>
        <div class="form-error" *ngIf="contactForm.controls['phone'].hasError('required') && contactForm.controls['phone'].touched">
            Phone number required.
        </div>
        <div class="form-error" *ngIf="contactForm.controls['phone'].invalid && contactForm.controls['phone'].touched">
            Invalid Phone Number.
        </div>
    </div>
    <div class="form-group">
        <mat-form-field class="border-input textarea-input mb-2 mb-sm-1 shadow">
            <textarea cols="33" rows="10" placeholder="Message" class="rounded-5" formControlName="emailMessage" matInput required></textarea>
            <i-x-circle class="feather-x-circle" *ngIf="this.contactForm.get('emailMessage').value" (click)="this.contactForm.get('emailMessage').setValue('')"></i-x-circle>
            <mat-error class="mt-1" *ngIf="errors && contactForm.controls['emailMessage'].invalid">{{errors.emailMessage}}</mat-error>
        </mat-form-field>
        <div class="form-error" *ngIf="contactForm.controls['emailMessage'].hasError('required') && contactForm.controls['emailMessage'].touched">
            Email message required.
        </div>
    </div>
    <div class="form-group">
        <button class="btn btn-primary btn-lg btn-block shadow rounded-2" [disabled]="!contactForm.valid || disableSubmitBtn" type="submit">Submit Query</button>
    </div>
    <mat-progress-bar mode="indeterminate" *ngIf="isLoad"></mat-progress-bar>
</form>