<app-header></app-header>
<mat-card *ngIf="isLoading == true" class="container d-flex justify-content-center rounded-0 my-2">
  <mat-spinner></mat-spinner>
</mat-card>

<section class="flight-search pt-0 pt-sm-2" *ngIf="isLoading == false">

    <!-- current search for mobile -->
    <!-- <div class="current-flight-search d-block d-sm-none mb-3">
      <div class="current-search-sector row d-flex align-items-center pb-2">
        <div class="col px-0">
          <p>{{hotelDetails.name}}</p>
        </div>
      </div>
      <p class="current-search-passenger text-center">1 Adult(s), 0 Child, 0 Infantt</p>
      <div class="current-search-footer d-flex justify-content-between align-items-center dropdown">
        <div class="current-search-dates d-flex align-items-center">
          <i-calendar class="feather"></i-calendar>
          <p class="mr-3">Apr 24, 2019</p>
          <i-calendar class="feather"></i-calendar>
          <p>Apr 30, 2019</p>
        </div>
        <div>
          <button class="btn btn-primary btn-sm rounded-0 shadow">Change Search</button>
        </div>
      </div>
    </div> -->
    <!-- / -->
  
    <div class="container">
  
      <!-- <mat-card class="custom-material-form mt-2 mb-3 rounded-0">
        <app-hotel-search-form (searchEvent)="getSearchResults($event)"></app-hotel-search-form>
      </mat-card> -->

      <div class="row">
        <div class="col-sm-4">
          <mat-card class="rounded-0 mt-2 mb-3"></mat-card>
        </div>
        <div class="col-sm-8">
          <mat-card class="rounded-0 mt-2 mb-3">
            hotel details
          </mat-card>
        </div>
      </div>

    </div>
</section>

<app-footer></app-footer>