<mat-drawer-container class="mat-drawer-container mat-drawer-transition">
  <mat-drawer-content class="mat-drawer-content">
      <app-header></app-header>
        <section class="flight-serch pt-0 pt-sm-2 main-search-form" style="position:relative">
          <div class="section-title d-none d-sm-block">
            <h1>Payment Error</h1>
          </div>
          
          <div class="col-sm-12">
            <p>Some problem occured while processing your payment request. Please try again later</p>
          </div>
        </section>
      <app-footer></app-footer>
  </mat-drawer-content>
</mat-drawer-container>