.flag-list {
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
    display: inline-block;
    list-style: none;
    width: 100%;
}

.flag-list li {
    border: 1px solid #ccc;
    padding: 0px 8px;
    background: linear-gradient(#f8f8f8, #c1c1c1);
    font-weight: 700;
    cursor: pointer;
}

.sidebar-list ul li a {
    border-bottom: none;
}

.flag-list img {
    float: left;
    padding-right: 5px;
}

.flag-list p {
    text-align: right;
    display: inline-block;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    text-align: left !important;
    font-size: 16px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
    border-radius: 3px;
}

.button span {
    float: right;
    padding-top: 5px;
}

.button2 {
    background-color: #008CBA;
}

.button3 {
    /* background-color: #f44336; */
    background-color: #1f3166;
}

.button4 {
    background-color: #e7e7e7;
    color: black;
}

.button5 {
    background-color: #555555;
}