<app-header></app-header>
<!-- <input type="text" ngxDaterangepickerMd class="form-control"/> -->
<section  class="flight-search pt-0 pt-sm-2">
  <div  class="current-flight-search d-block d-sm-none mb-3">
    <div  class="current-search-sector row d-flex align-items-center pb-2">
      <div  class="col px-0">
        <p >Islamabad Marriot Hotel, Islamabad, Pakistan</p>
      </div>
    </div>
    <p  class="current-search-passenger text-center">1 Adult(s), 0 Child, 0 Infantt</p>
    <div  class="current-search-footer d-flex justify-content-between align-items-center dropdown">
      <div  class="current-search-dates d-flex align-items-center">
        <i-calendar  class="feather" ></i-calendar>
        <p  class="mr-3">Apr 24, 2019</p>
        <i-calendar  class="feather" ></i-calendar>
        <p >Apr 30, 2019</p>
      </div>
      <div >
        <button  class="btn btn-primary btn-sm rounded-0 shadow">Change Search</button>
      </div>
    </div>
  </div>

  
  <div  class="container">
    
    <mat-card class="custom-material-form mt-2 mb-3 rounded-0">
        <app-hotel-search-form></app-hotel-search-form>
    </mat-card>

    <!-- <div  class="current-flight-search shadow d-none d-sm-flex justify-content-between align-items-center mb-3">
      <div  class="current-search-sector d-flex align-items-center">
        <div  class="col px-0">
          <p >Islamabad Marriot Hotel, Islamabad, Pakistan</p>
        </div>
      </div>|
      <div  class="d-flex justify-content-center align-items-center">
        <div  class="current-search-dates d-flex align-items-center">
          <i-calendar  class="feather" ></i-calendar>
          <p  class="mr-3">Apr 24, 2019</p>
          <i-calendar  class="feather" ></i-calendar>
          <p >Apr 30, 2019</p>
        </div>
      </div>|
      <div  class="d-flex justify-content-middle">
        <p  class="mr-3">6 Nights</p>
      </div>|
      <div  class="">
        <p  class="current-search-passenger text-center">1 Adult(s), 0 Child, 0 Infant</p>
      </div>
      <div  class="">
        <button  class="btn btn-primary btn-sm rounded-0 shadow">Change Search</button>
      </div>
    </div> -->


    <mat-card  class="flight-list-header d-block d-sm-none mb-2 py-2 px-2 px-sm-3">

      <div  class="d-flex justify-content-between">
        <div >
          <button  class="btn rounded-0 shadow btn-secondary">
            <i-sliders  class="button-feather"></i-sliders> Filter</button>
        </div>
        <div >
          <a  class="btn rounded-0 shadow btn-primary" routerlink="/" href="/">
            <i-search  class="button-feather"></i-search> New Search</a>
          <button  class="btn rounded-0 shadow btn-secondary">
            <i-bell  class="button-feather mx-0"> </i-bell>
          </button>
        </div>
      </div>
    </mat-card>

    <!---->

    <mat-card  class="p-2 mb-3 d-flex justify-content-between rounded-0 sticky-top">
      <div >
        <h3  class="mb-0">Islamabad Marriot Hotel</h3>
        <p >Blue Area Islamabad,Islamabad,Pakistan</p>
      </div>
      <div >
        <div  class="price text-right">
          <span  class="text-muted org-price">10,000</span>
          <h5  class="d-block">PKR
            <span  class="text-danger">90.00</span>
          </h5>
          <button  class="btn btn-primary shadow-sm rounded-0">Book Now</button>
        </div>
      </div>
    </mat-card>

    <mat-card  class="p-2 mb-3 rounded-0">
      <div  class="row">
        <div  class="col-sm-8">
            <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
        </div>
        <div  class="col-sm-4"></div>
      </div>
    </mat-card>

    <mat-card class="mb-3 rounded-0">
      <div class="d-flex align-items-center justify-content-between">
        <div class="checkIn">
          <b>Check In Date</b>
          <p class="text-primary m-0">Fri, 17 May 2018</p>
        </div>
        <div class="checkIn">
            <b>Check In Date</b>
            <p class="text-primary m-0">Fri, 17 May 2018</p>
          </div>
          <div class="checkIn">
              <b>Guests</b>
              <p class="text-primary m-0">2 Adults</p>
            </div>
          <div>
            <button class="btn btn-primary shadow-sm rounded-0">Change Search</button>
          </div>
      </div>
    </mat-card>

    <mat-card  class="p-2 mb-3 rounded-0">
      <p >Number of rooms: 12</p>
      <h4 >Room Types at Islamabad Marriot Hotel</h4>
      <table  class="table table-bordered room-details-table">
        <thead >
          <tr >
            <th  width="20%">&nbsp;</th>
            <th  class="td-filled" width="10%">Options</th>
            <th  width="7%">Max occupancy</th>
            <th  class="td-filled" width="7%">Price for 6 Night</th>
            <th  class="td-filled" width="7%">Rooms</th>

          </tr>
        </thead>
        <tbody >
          <!---->
          <tr  class="">
            <td >
              <b  class="text-primary">Bed in 10-Bed Male Dormitory Room</b>
              <p  class="mb-1">
                <b >Facilities:</b>
              </p>
              <ul  class="room-wise-facilities">
                <!---->
                <li  class="d-inline-block ">Drying rack for clothing -&nbsp;</li>
                <li  class="d-inline-block ">Wardrobe/Closet -&nbsp;</li>
                <li  class="d-inline-block ">Extra long beds (&gt; 6.5 ft) -&nbsp;</li>
                <li  class="d-inline-block ">Fan -&nbsp;</li>
                <li  class="d-inline-block ">Heating -&nbsp;</li>
                <li  class="d-inline-block ">Iron -&nbsp;</li>
                <li  class="d-inline-block ">Mosquito net -&nbsp;</li>
                <li  class="d-inline-block ">Sitting area -&nbsp;</li>
                <li  class="d-inline-block ">Desk -&nbsp;</li>
                <li  class="d-inline-block ">Cable channels -&nbsp;</li>
                <li  class="d-inline-block ">Flat-screen TV -&nbsp;</li>
                <li  class="d-inline-block ">Telephone -&nbsp;</li>
                <li  class="d-inline-block ">TV -&nbsp;</li>
                <li  class="d-inline-block ">Dining table -&nbsp;</li>
                <li  class="d-inline-block ">Toaster -&nbsp;</li>
                <li  class="d-inline-block ">Electric kettle -&nbsp;</li>
                <li  class="d-inline-block ">Alarm clock -&nbsp;</li>
                <li  class="d-inline-block ">Wake-up service -&nbsp;</li>
                <li  class="d-inline-block ">Towels -&nbsp;</li>
                <li  class="d-inline-block ">Towels/Sheets (extra fee) -&nbsp;</li>
                <li  class="d-inline-block ">Balcony -&nbsp;</li>
                <li  class="d-inline-block ">Room is completely wheelchair accessible -&nbsp;</li>
                <li  class="d-inline-block ">Toilet paper -&nbsp;</li>
                <li  class="d-inline-block ">Bathtub -&nbsp;</li>
                <li  class="d-inline-block ">Shower -&nbsp;</li>
                <li  class="d-inline-block ">Slippers -&nbsp;</li>
                <li  class="d-inline-block ">Child safety socket covers -&nbsp;</li>
              </ul>
            </td>
            <td  class="td-filled">
              <div >
                <!---->
                <!---->
                <div  class="">Good Breakfast
                  <br > PKR:20.00/-</div>
              </div>
            </td>
            <td  align="center">
              <div  class="d-flex align-items-center">
                <i-user>
                  <svg  class="feather feather-user" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path  d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                    <circle  cx="12" cy="7" r="4"></circle>
                  </svg>
                </i-user>
                <b  class="ml-1">x 8</b>
              </div>
            </td>
            <td  class="td-filled">
              <b  class="text-primary">PKR </b>30000.00</td>
            <td  class="td-filled">
              <select  class="form-control" id="" name="">
                <option  value="0">0</option>
                <option  value="1">1 (PKR 30000)</option>
                <option  value="2">2 (PKR 60000)</option>
                <option  value="3">3 (PKR 90000)</option>
                <option  value="4">4 (PKR 120000)</option>
                <option  value="5">5 (PKR 150000)</option>
              </select>
            </td>

          </tr>
          <tr  class="">
            <td >
              <b  class="text-primary">Deluxe Family Room</b>
              <p  class="mb-1">
                <b >Facilities:</b>
              </p>
              <ul  class="room-wise-facilities">
                <!---->
              </ul>
            </td>
            <td  class="td-filled">
              <div >
                <!---->
                <!---->
                <div  class="">Good Breakfast
                  <br > PKR:20.00/-</div>
              </div>
            </td>
            <td  align="center">
              <div  class="d-flex align-items-center">
                <i-user>
                  <svg  class="feather feather-user" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path  d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                    <circle  cx="12" cy="7" r="4"></circle>
                  </svg>
                </i-user>
                <b  class="ml-1">x 4</b>
              </div>
            </td>
            <td  class="td-filled">
              <b  class="text-primary">PKR </b>36000.00</td>
            <td  class="td-filled">
              <select  class="form-control" id="" name="">
                <option  value="0">0</option>
                <option  value="1">1 (PKR 36000)</option>
                <option  value="2">2 (PKR 72000)</option>
                <option  value="3">3 (PKR 108000)</option>
                <option  value="4">4 (PKR 144000)</option>
                <option  value="5">5 (PKR 180000)</option>
              </select>
            </td>

          </tr>
          <tr  class="">
            <td >
              <b  class="text-primary">Single Room with Mountain View</b>
              <p  class="mb-1">
                <b >Facilities:</b>
              </p>
              <ul  class="room-wise-facilities">
                <!---->
              </ul>
            </td>
            <td  class="td-filled">
              <div >
                <!---->
                <!---->
                <div  class="">Good Breakfast
                  <br > PKR:20.00/-</div>
              </div>
            </td>
            <td  align="center">
              <div  class="d-flex align-items-center">
                <i-user>
                  <svg  class="feather feather-user" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path  d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                    <circle  cx="12" cy="7" r="4"></circle>
                  </svg>
                </i-user>
                <b  class="ml-1">x 8</b>
              </div>
            </td>
            <td  class="td-filled">
              <b  class="text-primary">PKR </b>3000.00</td>
            <td  class="td-filled">
              <select  class="form-control" id="" name="">
                <option  value="0">0</option>
                <option  value="1">1 (PKR 3000)</option>
                <option  value="2">2 (PKR 6000)</option>
                <option  value="3">3 (PKR 9000)</option>
                <option  value="4">4 (PKR 12000)</option>
                <option  value="5">5 (PKR 15000)</option>
              </select>
            </td>

          </tr>
          <tr  class="">
            <td >
              <b  class="text-primary">Deluxe Double Room with Extra Bed</b>
              <p  class="mb-1">
                <b >Facilities:</b>
              </p>
              <ul  class="room-wise-facilities">
                <!---->
              </ul>
            </td>
            <td  class="td-filled">
              <div >
                <!---->
                <!---->
                <div  class="">Good Breakfast
                  <br > PKR:20.00/-</div>
              </div>
            </td>
            <td  align="center">
              <div  class="d-flex align-items-center">
                <i-user>
                  <svg  class="feather feather-user" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path  d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                    <circle  cx="12" cy="7" r="4"></circle>
                  </svg>
                </i-user>
                <b  class="ml-1">x 8</b>
              </div>
            </td>
            <td  class="td-filled">
              <b  class="text-primary">PKR </b>30000.00</td>
            <td  class="td-filled">
              <select  class="form-control" id="" name="">
                <option  value="0">0</option>
                <option  value="1">1 (PKR 30000)</option>
                <option  value="2">2 (PKR 60000)</option>
                <option  value="3">3 (PKR 90000)</option>
                <option  value="4">4 (PKR 120000)</option>
                <option  value="5">5 (PKR 150000)</option>
              </select>
            </td>

          </tr>
          <tr  class="">
            <td >
              <b  class="text-primary">Deluxe Double Room (1 adult + 1 child)</b>
              <p  class="mb-1">
                <b >Facilities:</b>
              </p>
              <ul  class="room-wise-facilities">
                <!---->
              </ul>
            </td>
            <td  class="td-filled">
              <div >
                <!---->
                <!---->
                <div  class="">Good Breakfast
                  <br > PKR:20.00/-</div>
              </div>
            </td>
            <td  align="center">
              <div  class="d-flex align-items-center">
                <i-user>
                  <svg  class="feather feather-user" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path  d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                    <circle  cx="12" cy="7" r="4"></circle>
                  </svg>
                </i-user>
                <b  class="ml-1">x 8</b>
              </div>
            </td>
            <td  class="td-filled">
              <b  class="text-primary">PKR </b>90.00</td>
            <td  class="td-filled">
              <select  class="form-control" id="" name="">
                <option  value="0">0</option>
                <option  value="1">1 (PKR 90)</option>
                <option  value="2">2 (PKR 180)</option>
                <option  value="3">3 (PKR 270)</option>
                <option  value="4">4 (PKR 360)</option>
                <option  value="5">5 (PKR 450)</option>
              </select>
            </td>

          </tr>
        </tbody>
      </table>
      <h4 > Info</h4>
      <table  cellspacing="7" class="table table-bordered">
        <tbody >
          <tr >
            <td  width="30%">
              <b >Check In</b>
            </td>
            <td >12:00:00 -- 14:00:00</td>
          </tr>
          <tr >
            <td >
              <b >Check Out</b>
            </td>
            <td >12:00:00 -- 14:00:00</td>
          </tr>
        </tbody>
      </table>

      <h4 >Policies at Islamabad Marriot Hotel</h4>
      <table  cellspacing="7" class="table table-bordered">
        <tbody >
          <tr >
            <td  width="30%">
              <b >Cancellation/Prepayment</b>
            </td>
            <td >
              <!---->
              <!---->
              <span  class="">Guests won't be charged anything if they cancel 1 day before check-in, otherwise they will pay for the full
                stay
              </span>
            </td>
          </tr>
          <tr >
            <td >
              <b >Accepted credit cards</b>
            </td>
            <td >

            </td>
          </tr>
          <tr >
            <td >
              <b >VAT/Tax settings</b>
            </td>
            <td >12:00:00 -- 14:00:00</td>
          </tr>
          <tr >
            <td >
              <b >City tax</b>
            </td>
            <td >12:00:00 -- 14:00:00</td>
          </tr>
        </tbody>
      </table>
    </mat-card>





  </div>
</section>

<mat-card class="reservation-options p-3 rounded-0 mat-card">
    <div class="d-flex align-items-center justify-content-between">
      <div class="d-flex">
        <div class="pr-3 border-right ng-star-inserted">
            <p class="mb-1">2 Rooms Selected</p>
            <b class="text-primary">PKR </b>168000
          </div>
          <div class="pl-3 text-warning">
            <p>You still need to fit 3 more adult.</p>
          </div>
      </div>
      <button class="btn btn-primary shadow-sm rounded-0">Continue Reservation</button>
    </div>
  </mat-card>

  <app-footer></app-footer>