.room-facilities {
    font-size: 13px;
}

.fixed {
    position: fixed;
    top: 0;
    z-index: 2;
    width: 14%;
}

.main-facilities-ul {
    column-count: 3;
    -webkit-column-count: 3;
    list-style-type: none;
    color: green;
    font-weight: 600;
    font-size: 16px;
}

.main-facilities-li {
    display: inline-block;
}

.sub-facilities-ul {
    list-style-type: circle;
    color: #333;
    font-size: 12px;
}
.dark-btn{
    background: #1f3166;
}