<section _ngcontent-c54="" class="flight-search pt-0 pt-sm-2">
  <div _ngcontent-c54="" class="current-flight-search d-block d-sm-none mb-3">
    <div _ngcontent-c54="" class="current-search-sector row d-flex align-items-center pb-2">
      <div _ngcontent-c54="" class="col px-0">
        <p _ngcontent-c54="">Islamabad Marriot Hotel, Islamabad, Pakistan</p>
      </div>
    </div>
    <p _ngcontent-c54="" class="current-search-passenger text-center">1 Adult(s), 0 Child, 0 Infantt</p>
    <div _ngcontent-c54="" class="current-search-footer d-flex justify-content-between align-items-center dropdown">
      <div _ngcontent-c54="" class="current-search-dates d-flex align-items-center">
        <i-calendar _ngcontent-c54="" class="feather" _nghost-c13="">
          <svg _ngcontent-c13="" class="feather feather-calendar" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <rect _ngcontent-c13="" height="18" rx="2" ry="2" width="18" x="3" y="4"></rect>
            <line _ngcontent-c13="" x1="16" x2="16" y1="2" y2="6"></line>
            <line _ngcontent-c13="" x1="8" x2="8" y1="2" y2="6"></line>
            <line _ngcontent-c13="" x1="3" x2="21" y1="10" y2="10"></line>
          </svg>
        </i-calendar>
        <p _ngcontent-c54="" class="mr-3">Apr 24, 2019</p>
        <i-calendar _ngcontent-c54="" class="feather" _nghost-c13="">
          <svg _ngcontent-c13="" class="feather feather-calendar" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <rect _ngcontent-c13="" height="18" rx="2" ry="2" width="18" x="3" y="4"></rect>
            <line _ngcontent-c13="" x1="16" x2="16" y1="2" y2="6"></line>
            <line _ngcontent-c13="" x1="8" x2="8" y1="2" y2="6"></line>
            <line _ngcontent-c13="" x1="3" x2="21" y1="10" y2="10"></line>
          </svg>
        </i-calendar>
        <p _ngcontent-c54="">Apr 30, 2019</p>
      </div>
      <div _ngcontent-c54="">
        <button _ngcontent-c54="" class="btn btn-primary btn-sm rounded-0 shadow">Change Search</button>
      </div>
    </div>
  </div>
  <div _ngcontent-c54="" class="container">


    <div _ngcontent-c54="" class="current-flight-search shadow d-none d-sm-flex justify-content-between align-items-center mb-3">
      <div _ngcontent-c54="" class="current-search-sector d-flex align-items-center">
        <div _ngcontent-c54="" class="col px-0">
          <p _ngcontent-c54="">Islamabad Marriot Hotel, Islamabad, Pakistan</p>
        </div>
      </div>|
      <div _ngcontent-c54="" class="d-flex justify-content-center align-items-center">
        <div _ngcontent-c54="" class="current-search-dates d-flex align-items-center">
          <i-calendar _ngcontent-c54="" class="feather" _nghost-c13="">
            <svg _ngcontent-c13="" class="feather feather-calendar" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <rect _ngcontent-c13="" height="18" rx="2" ry="2" width="18" x="3" y="4"></rect>
              <line _ngcontent-c13="" x1="16" x2="16" y1="2" y2="6"></line>
              <line _ngcontent-c13="" x1="8" x2="8" y1="2" y2="6"></line>
              <line _ngcontent-c13="" x1="3" x2="21" y1="10" y2="10"></line>
            </svg>
          </i-calendar>
          <p _ngcontent-c54="" class="mr-3">Apr 24, 2019</p>
          <i-calendar _ngcontent-c54="" class="feather" _nghost-c13="">
            <svg _ngcontent-c13="" class="feather feather-calendar" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <rect _ngcontent-c13="" height="18" rx="2" ry="2" width="18" x="3" y="4"></rect>
              <line _ngcontent-c13="" x1="16" x2="16" y1="2" y2="6"></line>
              <line _ngcontent-c13="" x1="8" x2="8" y1="2" y2="6"></line>
              <line _ngcontent-c13="" x1="3" x2="21" y1="10" y2="10"></line>
            </svg>
          </i-calendar>
          <p _ngcontent-c54="">Apr 30, 2019</p>
        </div>
      </div>|
      <div _ngcontent-c54="" class="d-flex justify-content-middle">
        <p _ngcontent-c54="" class="mr-3">6 Nights</p>
      </div>|
      <div _ngcontent-c54="" class="">
        <p _ngcontent-c54="" class="current-search-passenger text-center">1 Adult(s), 0 Child, 0 Infant</p>
      </div>
      <div _ngcontent-c54="" class="">
        <button _ngcontent-c54="" class="btn btn-primary btn-sm rounded-0 shadow">Change Search</button>
      </div>
    </div>


    <mat-card _ngcontent-c54="" class="flight-list-header d-block d-sm-none mb-2 py-2 px-2 px-sm-3 mat-card">

      <div _ngcontent-c54="" class="d-flex justify-content-between">
        <div _ngcontent-c54="">
          <button _ngcontent-c54="" class="btn rounded-0 shadow btn-secondary">
            <i-sliders _ngcontent-c54="" class="button-feather" _nghost-c44="">
              <svg _ngcontent-c44="" class="feather feather-sliders" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <line _ngcontent-c44="" x1="4" x2="4" y1="21" y2="14"></line>
                <line _ngcontent-c44="" x1="4" x2="4" y1="10" y2="3"></line>
                <line _ngcontent-c44="" x1="12" x2="12" y1="21" y2="12"></line>
                <line _ngcontent-c44="" x1="12" x2="12" y1="8" y2="3"></line>
                <line _ngcontent-c44="" x1="20" x2="20" y1="21" y2="16"></line>
                <line _ngcontent-c44="" x1="20" x2="20" y1="12" y2="3"></line>
                <line _ngcontent-c44="" x1="1" x2="7" y1="14" y2="14"></line>
                <line _ngcontent-c44="" x1="9" x2="15" y1="8" y2="8"></line>
                <line _ngcontent-c44="" x1="17" x2="23" y1="16" y2="16"></line>
              </svg>
            </i-sliders> Filter</button>
        </div>
        <div _ngcontent-c54="">
          <a _ngcontent-c54="" class="btn rounded-0 shadow btn-primary" routerlink="/" href="/">
            <i-search _ngcontent-c54="" class="button-feather" _nghost-c45="">
              <svg _ngcontent-c45="" class="feather feather-search" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <circle _ngcontent-c45="" cx="11" cy="11" r="8"></circle>
                <line _ngcontent-c45="" x1="21" x2="16.65" y1="21" y2="16.65"></line>
              </svg>
            </i-search> New Search</a>
          <button _ngcontent-c54="" class="btn rounded-0 shadow btn-secondary">
            <i-bell _ngcontent-c54="" class="button-feather mx-0" _nghost-c46="">
              <svg _ngcontent-c46="" class="feather feather-bell" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path _ngcontent-c46="" d="M22 17H2a3 3 0 0 0 3-3V9a7 7 0 0 1 14 0v5a3 3 0 0 0 3 3zm-8.27 4a2 2 0 0 1-3.46 0"></path>
              </svg>
            </i-bell>
          </button>
        </div>
      </div>
    </mat-card>

    <!---->

    <mat-card _ngcontent-c54="" class="p-2 mb-3 d-flex justify-content-between mat-card">
      <div _ngcontent-c54="">
        <h3 _ngcontent-c54="" class="mb-0">Islamabad Marriot Hotel</h3>
        <p _ngcontent-c54="">Blue Area Islamabad,Islamabad,Pakistan</p>
      </div>
      <div _ngcontent-c54="">
        <div _ngcontent-c54="" class="price text-right">
          <span _ngcontent-c54="" class="text-muted org-price">10,000</span>
          <h5 _ngcontent-c54="" class="d-block">PKR
            <span _ngcontent-c54="" class="text-danger">90.00</span>
          </h5>
          <button _ngcontent-c54="" class="btn btn-primary shadow-sm rounded-0">Book Now</button>
        </div>
      </div>
    </mat-card>

    <mat-card _ngcontent-c54="" class="p-2 mb-3 mat-card">
      <div _ngcontent-c54="" class="row">
        <div _ngcontent-c54="" class="col-sm-8">
          
        </div>
        <div _ngcontent-c54="" class="col-sm-4"></div>
      </div>
    </mat-card>

    <mat-card _ngcontent-c54="" class="p-2 mb-3 mat-card">
      <p _ngcontent-c54="">Number of rooms: 12</p>
      <h4 _ngcontent-c54="">Room Types at Islamabad Marriot Hotel</h4>
      <table _ngcontent-c54="" class="table table-bordered room-details-table">
        <thead _ngcontent-c54="">
          <tr _ngcontent-c54="">
            <th _ngcontent-c54="" width="20%">&nbsp;</th>
            <th _ngcontent-c54="" class="td-filled" width="10%">Options</th>
            <th _ngcontent-c54="" width="7%">Max occupancy</th>
            <th _ngcontent-c54="" class="td-filled" width="7%">Price for 6 Night</th>
            <th _ngcontent-c54="" class="td-filled" width="7%">Rooms</th>

          </tr>
        </thead>
        <tbody _ngcontent-c54="">
          <!---->
          <tr _ngcontent-c54="" class="ng-star-inserted">
            <td _ngcontent-c54="">
              <b _ngcontent-c54="" class="text-primary">Bed in 10-Bed Male Dormitory Room</b>
              <p _ngcontent-c54="" class="mb-1">
                <b _ngcontent-c54="">Facilities:</b>
              </p>
              <ul _ngcontent-c54="" class="room-wise-facilities">
                <!---->
                <li _ngcontent-c54="" class="d-inline-block ng-star-inserted">Drying rack for clothing -&nbsp;</li>
                <li _ngcontent-c54="" class="d-inline-block ng-star-inserted">Wardrobe/Closet -&nbsp;</li>
                <li _ngcontent-c54="" class="d-inline-block ng-star-inserted">Extra long beds (&gt; 6.5 ft) -&nbsp;</li>
                <li _ngcontent-c54="" class="d-inline-block ng-star-inserted">Fan -&nbsp;</li>
                <li _ngcontent-c54="" class="d-inline-block ng-star-inserted">Heating -&nbsp;</li>
                <li _ngcontent-c54="" class="d-inline-block ng-star-inserted">Iron -&nbsp;</li>
                <li _ngcontent-c54="" class="d-inline-block ng-star-inserted">Mosquito net -&nbsp;</li>
                <li _ngcontent-c54="" class="d-inline-block ng-star-inserted">Sitting area -&nbsp;</li>
                <li _ngcontent-c54="" class="d-inline-block ng-star-inserted">Desk -&nbsp;</li>
                <li _ngcontent-c54="" class="d-inline-block ng-star-inserted">Cable channels -&nbsp;</li>
                <li _ngcontent-c54="" class="d-inline-block ng-star-inserted">Flat-screen TV -&nbsp;</li>
                <li _ngcontent-c54="" class="d-inline-block ng-star-inserted">Telephone -&nbsp;</li>
                <li _ngcontent-c54="" class="d-inline-block ng-star-inserted">TV -&nbsp;</li>
                <li _ngcontent-c54="" class="d-inline-block ng-star-inserted">Dining table -&nbsp;</li>
                <li _ngcontent-c54="" class="d-inline-block ng-star-inserted">Toaster -&nbsp;</li>
                <li _ngcontent-c54="" class="d-inline-block ng-star-inserted">Electric kettle -&nbsp;</li>
                <li _ngcontent-c54="" class="d-inline-block ng-star-inserted">Alarm clock -&nbsp;</li>
                <li _ngcontent-c54="" class="d-inline-block ng-star-inserted">Wake-up service -&nbsp;</li>
                <li _ngcontent-c54="" class="d-inline-block ng-star-inserted">Towels -&nbsp;</li>
                <li _ngcontent-c54="" class="d-inline-block ng-star-inserted">Towels/Sheets (extra fee) -&nbsp;</li>
                <li _ngcontent-c54="" class="d-inline-block ng-star-inserted">Balcony -&nbsp;</li>
                <li _ngcontent-c54="" class="d-inline-block ng-star-inserted">Room is completely wheelchair accessible -&nbsp;</li>
                <li _ngcontent-c54="" class="d-inline-block ng-star-inserted">Toilet paper -&nbsp;</li>
                <li _ngcontent-c54="" class="d-inline-block ng-star-inserted">Bathtub -&nbsp;</li>
                <li _ngcontent-c54="" class="d-inline-block ng-star-inserted">Shower -&nbsp;</li>
                <li _ngcontent-c54="" class="d-inline-block ng-star-inserted">Slippers -&nbsp;</li>
                <li _ngcontent-c54="" class="d-inline-block ng-star-inserted">Child safety socket covers -&nbsp;</li>
              </ul>
            </td>
            <td _ngcontent-c54="" class="td-filled">
              <div _ngcontent-c54="">
                <!---->
                <!---->
                <div _ngcontent-c54="" class="ng-star-inserted">Good Breakfast
                  <br _ngcontent-c54=""> PKR:20.00/-</div>
              </div>
            </td>
            <td _ngcontent-c54="" align="center">
              <div _ngcontent-c54="" class="d-flex align-items-center">
                <i-user _ngcontent-c54="" _nghost-c23="">
                  <svg _ngcontent-c23="" class="feather feather-user" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path _ngcontent-c23="" d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                    <circle _ngcontent-c23="" cx="12" cy="7" r="4"></circle>
                  </svg>
                </i-user>
                <b _ngcontent-c54="" class="ml-1">x 8</b>
              </div>
            </td>
            <td _ngcontent-c54="" class="td-filled">
              <b _ngcontent-c54="" class="text-primary">PKR </b>30000.00</td>
            <td _ngcontent-c54="" class="td-filled">
              <select _ngcontent-c54="" class="form-control" id="" name="">
                <option _ngcontent-c54="" value="0">0</option>
                <option _ngcontent-c54="" value="1">1 (PKR 30000)</option>
                <option _ngcontent-c54="" value="2">2 (PKR 60000)</option>
                <option _ngcontent-c54="" value="3">3 (PKR 90000)</option>
                <option _ngcontent-c54="" value="4">4 (PKR 120000)</option>
                <option _ngcontent-c54="" value="5">5 (PKR 150000)</option>
              </select>
            </td>

          </tr>
          <tr _ngcontent-c54="" class="ng-star-inserted">
            <td _ngcontent-c54="">
              <b _ngcontent-c54="" class="text-primary">Deluxe Family Room</b>
              <p _ngcontent-c54="" class="mb-1">
                <b _ngcontent-c54="">Facilities:</b>
              </p>
              <ul _ngcontent-c54="" class="room-wise-facilities">
                <!---->
              </ul>
            </td>
            <td _ngcontent-c54="" class="td-filled">
              <div _ngcontent-c54="">
                <!---->
                <!---->
                <div _ngcontent-c54="" class="ng-star-inserted">Good Breakfast
                  <br _ngcontent-c54=""> PKR:20.00/-</div>
              </div>
            </td>
            <td _ngcontent-c54="" align="center">
              <div _ngcontent-c54="" class="d-flex align-items-center">
                <i-user _ngcontent-c54="" _nghost-c23="">
                  <svg _ngcontent-c23="" class="feather feather-user" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path _ngcontent-c23="" d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                    <circle _ngcontent-c23="" cx="12" cy="7" r="4"></circle>
                  </svg>
                </i-user>
                <b _ngcontent-c54="" class="ml-1">x 4</b>
              </div>
            </td>
            <td _ngcontent-c54="" class="td-filled">
              <b _ngcontent-c54="" class="text-primary">PKR </b>36000.00</td>
            <td _ngcontent-c54="" class="td-filled">
              <select _ngcontent-c54="" class="form-control" id="" name="">
                <option _ngcontent-c54="" value="0">0</option>
                <option _ngcontent-c54="" value="1">1 (PKR 36000)</option>
                <option _ngcontent-c54="" value="2">2 (PKR 72000)</option>
                <option _ngcontent-c54="" value="3">3 (PKR 108000)</option>
                <option _ngcontent-c54="" value="4">4 (PKR 144000)</option>
                <option _ngcontent-c54="" value="5">5 (PKR 180000)</option>
              </select>
            </td>

          </tr>
          <tr _ngcontent-c54="" class="ng-star-inserted">
            <td _ngcontent-c54="">
              <b _ngcontent-c54="" class="text-primary">Single Room with Mountain View</b>
              <p _ngcontent-c54="" class="mb-1">
                <b _ngcontent-c54="">Facilities:</b>
              </p>
              <ul _ngcontent-c54="" class="room-wise-facilities">
                <!---->
              </ul>
            </td>
            <td _ngcontent-c54="" class="td-filled">
              <div _ngcontent-c54="">
                <!---->
                <!---->
                <div _ngcontent-c54="" class="ng-star-inserted">Good Breakfast
                  <br _ngcontent-c54=""> PKR:20.00/-</div>
              </div>
            </td>
            <td _ngcontent-c54="" align="center">
              <div _ngcontent-c54="" class="d-flex align-items-center">
                <i-user _ngcontent-c54="" _nghost-c23="">
                  <svg _ngcontent-c23="" class="feather feather-user" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path _ngcontent-c23="" d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                    <circle _ngcontent-c23="" cx="12" cy="7" r="4"></circle>
                  </svg>
                </i-user>
                <b _ngcontent-c54="" class="ml-1">x 8</b>
              </div>
            </td>
            <td _ngcontent-c54="" class="td-filled">
              <b _ngcontent-c54="" class="text-primary">PKR </b>3000.00</td>
            <td _ngcontent-c54="" class="td-filled">
              <select _ngcontent-c54="" class="form-control" id="" name="">
                <option _ngcontent-c54="" value="0">0</option>
                <option _ngcontent-c54="" value="1">1 (PKR 3000)</option>
                <option _ngcontent-c54="" value="2">2 (PKR 6000)</option>
                <option _ngcontent-c54="" value="3">3 (PKR 9000)</option>
                <option _ngcontent-c54="" value="4">4 (PKR 12000)</option>
                <option _ngcontent-c54="" value="5">5 (PKR 15000)</option>
              </select>
            </td>

          </tr>
          <tr _ngcontent-c54="" class="ng-star-inserted">
            <td _ngcontent-c54="">
              <b _ngcontent-c54="" class="text-primary">Deluxe Double Room with Extra Bed</b>
              <p _ngcontent-c54="" class="mb-1">
                <b _ngcontent-c54="">Facilities:</b>
              </p>
              <ul _ngcontent-c54="" class="room-wise-facilities">
                <!---->
              </ul>
            </td>
            <td _ngcontent-c54="" class="td-filled">
              <div _ngcontent-c54="">
                <!---->
                <!---->
                <div _ngcontent-c54="" class="ng-star-inserted">Good Breakfast
                  <br _ngcontent-c54=""> PKR:20.00/-</div>
              </div>
            </td>
            <td _ngcontent-c54="" align="center">
              <div _ngcontent-c54="" class="d-flex align-items-center">
                <i-user _ngcontent-c54="" _nghost-c23="">
                  <svg _ngcontent-c23="" class="feather feather-user" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path _ngcontent-c23="" d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                    <circle _ngcontent-c23="" cx="12" cy="7" r="4"></circle>
                  </svg>
                </i-user>
                <b _ngcontent-c54="" class="ml-1">x 8</b>
              </div>
            </td>
            <td _ngcontent-c54="" class="td-filled">
              <b _ngcontent-c54="" class="text-primary">PKR </b>30000.00</td>
            <td _ngcontent-c54="" class="td-filled">
              <select _ngcontent-c54="" class="form-control" id="" name="">
                <option _ngcontent-c54="" value="0">0</option>
                <option _ngcontent-c54="" value="1">1 (PKR 30000)</option>
                <option _ngcontent-c54="" value="2">2 (PKR 60000)</option>
                <option _ngcontent-c54="" value="3">3 (PKR 90000)</option>
                <option _ngcontent-c54="" value="4">4 (PKR 120000)</option>
                <option _ngcontent-c54="" value="5">5 (PKR 150000)</option>
              </select>
            </td>

          </tr>
          <tr _ngcontent-c54="" class="ng-star-inserted">
            <td _ngcontent-c54="">
              <b _ngcontent-c54="" class="text-primary">Deluxe Double Room (1 adult + 1 child)</b>
              <p _ngcontent-c54="" class="mb-1">
                <b _ngcontent-c54="">Facilities:</b>
              </p>
              <ul _ngcontent-c54="" class="room-wise-facilities">
                <!---->
              </ul>
            </td>
            <td _ngcontent-c54="" class="td-filled">
              <div _ngcontent-c54="">
                <!---->
                <!---->
                <div _ngcontent-c54="" class="ng-star-inserted">Good Breakfast
                  <br _ngcontent-c54=""> PKR:20.00/-</div>
              </div>
            </td>
            <td _ngcontent-c54="" align="center">
              <div _ngcontent-c54="" class="d-flex align-items-center">
                <i-user _ngcontent-c54="" _nghost-c23="">
                  <svg _ngcontent-c23="" class="feather feather-user" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path _ngcontent-c23="" d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                    <circle _ngcontent-c23="" cx="12" cy="7" r="4"></circle>
                  </svg>
                </i-user>
                <b _ngcontent-c54="" class="ml-1">x 8</b>
              </div>
            </td>
            <td _ngcontent-c54="" class="td-filled">
              <b _ngcontent-c54="" class="text-primary">PKR </b>90.00</td>
            <td _ngcontent-c54="" class="td-filled">
              <select _ngcontent-c54="" class="form-control" id="" name="">
                <option _ngcontent-c54="" value="0">0</option>
                <option _ngcontent-c54="" value="1">1 (PKR 90)</option>
                <option _ngcontent-c54="" value="2">2 (PKR 180)</option>
                <option _ngcontent-c54="" value="3">3 (PKR 270)</option>
                <option _ngcontent-c54="" value="4">4 (PKR 360)</option>
                <option _ngcontent-c54="" value="5">5 (PKR 450)</option>
              </select>
            </td>

          </tr>
        </tbody>
      </table>
      <h4 _ngcontent-c54=""> Info</h4>
      <table _ngcontent-c54="" cellspacing="7" class="table table-bordered">
        <tbody _ngcontent-c54="">
          <tr _ngcontent-c54="">
            <td _ngcontent-c54="" width="30%">
              <b _ngcontent-c54="">Check In</b>
            </td>
            <td _ngcontent-c54="">12:00:00 -- 14:00:00</td>
          </tr>
          <tr _ngcontent-c54="">
            <td _ngcontent-c54="">
              <b _ngcontent-c54="">Check Out</b>
            </td>
            <td _ngcontent-c54="">12:00:00 -- 14:00:00</td>
          </tr>
        </tbody>
      </table>

      <h4 _ngcontent-c54="">Policies at Islamabad Marriot Hotel</h4>
      <table _ngcontent-c54="" cellspacing="7" class="table table-bordered">
        <tbody _ngcontent-c54="">
          <tr _ngcontent-c54="">
            <td _ngcontent-c54="" width="30%">
              <b _ngcontent-c54="">Cancellation/Prepayment</b>
            </td>
            <td _ngcontent-c54="">
              <!---->
              <!---->
              <span _ngcontent-c54="" class="ng-star-inserted">Guests won't be charged anything if they cancel 1 day before check-in, otherwise they will pay for the full
                stay
              </span>
            </td>
          </tr>
          <tr _ngcontent-c54="">
            <td _ngcontent-c54="">
              <b _ngcontent-c54="">Accepted credit cards</b>
            </td>
            <td _ngcontent-c54="">

            </td>
          </tr>
          <tr _ngcontent-c54="">
            <td _ngcontent-c54="">
              <b _ngcontent-c54="">VAT/Tax settings</b>
            </td>
            <td _ngcontent-c54="">12:00:00 -- 14:00:00</td>
          </tr>
          <tr _ngcontent-c54="">
            <td _ngcontent-c54="">
              <b _ngcontent-c54="">City tax</b>
            </td>
            <td _ngcontent-c54="">12:00:00 -- 14:00:00</td>
          </tr>
        </tbody>
      </table>
    </mat-card>





  </div>
</section>