<app-header></app-header>
<mat-card *ngIf="isLoading == ture">Loading</mat-card>
<!-- <input type="text" ngxDaterangepickerMd class="form-control"/> -->
<section  class="flight-search pt-0 pt-sm-2" *ngIf="isLoading == false">
  <div  class="current-flight-search d-block d-sm-none mb-3">
    <div  class="current-search-sector row d-flex align-items-center pb-2">
      <div  class="col px-0">
        <p >{{hotelDetails.name}}</p>
      </div>
    </div>
    <p  class="current-search-passenger text-center">1 Adult(s), 0 Child, 0 Infantt</p>
    <div  class="current-search-footer d-flex justify-content-between align-items-center dropdown">
      <div  class="current-search-dates d-flex align-items-center">
        <i-calendar  class="feather" ></i-calendar>
        <p  class="mr-3">Apr 24, 2019</p>
        <i-calendar  class="feather" ></i-calendar>
        <p >Apr 30, 2019</p>
      </div>
      <div >
        <button  class="btn btn-primary btn-sm rounded-0 shadow">Change Search</button>
      </div>
    </div>
  </div>

  
  <div  class="container">
    
    <mat-card class="custom-material-form mt-2 mb-3 rounded-0">
        <app-hotel-search-form (searchEvent)="getSearchResults($event)"></app-hotel-search-form>
    </mat-card>

    <!-- <div  class="current-flight-search shadow d-none d-sm-flex justify-content-between align-items-center mb-3">
      <div  class="current-search-sector d-flex align-items-center">
        <div  class="col px-0">
          <p >Islamabad Marriot Hotel, Islamabad, Pakistan</p>
        </div>
      </div>|
      <div  class="d-flex justify-content-center align-items-center">
        <div  class="current-search-dates d-flex align-items-center">
          <i-calendar  class="feather" ></i-calendar>
          <p  class="mr-3">Apr 24, 2019</p>
          <i-calendar  class="feather" ></i-calendar>
          <p >Apr 30, 2019</p>
        </div>
      </div>|
      <div  class="d-flex justify-content-middle">
        <p  class="mr-3">6 Nights</p>
      </div>|
      <div  class="">
        <p  class="current-search-passenger text-center">1 Adult(s), 0 Child, 0 Infant</p>
      </div>
      <div  class="">
        <button  class="btn btn-primary btn-sm rounded-0 shadow">Change Search</button>
      </div>
    </div> -->


    <mat-card  class="flight-list-header d-block d-sm-none mb-2 py-2 px-2 px-sm-3">

      <div  class="d-flex justify-content-between">
        <div >
          <button  class="btn rounded-0 shadow btn-secondary">
            <i-sliders  class="button-feather"></i-sliders> Filter</button>
        </div>
        <div >
          <!--<a  class="btn rounded-0 shadow btn-primary" routerlink="/" href="/">
             <i-search  class="button-feather"></i-search> New Search</a> -->
          <button  class="btn rounded-0 shadow btn-secondary">
            <i-bell  class="button-feather mx-0"> </i-bell>
          </button>
        </div>
      </div>
    </mat-card>

    <!---->

    <mat-card  class="p-2 mb-3 d-flex justify-content-between rounded-0 sticky-top">
      <div >
        <h3  class="mb-0">{{hotelDetails.name}}</h3>
        <p >{{hotelDetails.address}}, {{hotelDetails.city}}, {{hotelDetails.country}}</p>
      </div>
      <div >
        <div  class="price text-right">
          <span  class="text-muted org-price">10,000</span>
          <h5  class="d-block">PKR
            <span  class="text-danger">{{hotelDetails.price}}</span>
          </h5>
          <button  class="btn btn-primary shadow-sm rounded-0">Book Now</button>
        </div>
      </div>
    </mat-card>

    <mat-card  class="p-2 mb-3 rounded-0">
      <div  class="row">
        <div  class="col-sm-8">
            <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
        </div>
        <div  class="col-sm-4">
          <div >
            <h3  class="mb-0">{{hotelDetails.name}}</h3>
            <p >{{hotelDetails.address}}, {{hotelDetails.city}}, {{hotelDetails.country}}</p>
          </div>
          <div >
            <div  class="price text-right">
              <span  class="text-muted org-price">10,000</span>
              <h5  class="d-block">PKR
                <span  class="text-danger">{{hotelDetails.price}}</span>
              </h5>
              <button  class="btn btn-primary shadow-sm rounded-0">Book Now</button>
            </div>
          </div>
        </div>
      </div>
    </mat-card>

    <mat-card class="mb-3 rounded-0">
      <div class="d-flex align-items-center justify-content-between">
        <div class="checkIn">
          <b>Check In Date</b>
          <p class="text-primary m-0">{{checkInDate | date:mediumDate}}</p>
        </div>
        <div class="checkIn">
            <b>Check In Date</b>
            <p class="text-primary m-0">{{searchQuery.dates.endDate | date:mediumDate}}</p>
          </div>
        <div>
          <p class="m-0">{{totalNights}} Night Stay</p>
        </div>
          <div class="checkIn">
              <b>Guests</b>
              <p class="text-primary m-0" *ngIf="searchQuery.adults > 0">{{searchQuery.adults}} Adult(s)</p>
              <p class="text-primary m-0" *ngIf="searchQuery.children > 0">{{searchQuery.children}} Children</p>
            </div>
          <div>
            <button class="btn btn-primary shadow-sm rounded-0">Change Search</button>
          </div>
      </div>
    </mat-card>

    <mat-card  class="p-2 mb-3 rounded-0">
      <p >Number of rooms: 12</p>
      <h4 >Room Types at Islamabad Marriot Hotel</h4>
      <table  class="table table-bordered room-details-table">
        <thead >
          <tr >
            <th  width="20%">&nbsp;</th>
            <th  class="td-filled" width="10%">Options</th>
            <th  width="7%">Max occupancy</th>
            <th  class="td-filled" width="7%">Price for {{totalNights}} Night</th>
            <th  class="td-filled" width="7%">Rooms</th>
          </tr>
        </thead>
        <tbody >
          <!---->
          <tr *ngFor="let room of hotelDetails.room_details; let i = index">
            <td >
              <b  class="text-primary">{{room.room_title}}</b>
              <p  class="mb-1" *ngIf="room.facility.length > 0">
                <b >Facilities:</b>
              </p>
              <ul  class="room-wise-facilities">
                <li  class="d-inline-block " *ngFor="let facility of room.facility">{{facility}} -&nbsp;</li>
              </ul>
            </td>
            <td  class="td-filled">
              <!-- <div [ngSwitch]="room.breakfast">
                <div  *ngSwitchCase="Yes, Its Optional">Good Breakfast
                <br/> {{room.breakfast_price}}</div>
                  <div *ngSwitchCase="Yes, Its Free">Free Breakfast</div>
              </div> -->
            </td>
            <td  align="center">
              <div  class="d-flex align-items-center">
                <i-user></i-user>
                <b  class="ml-1">x {{room.no_of_guest}}</b>
              </div>
            </td>
            <td  class="td-filled">
              <b  class="text-primary">PKR </b>{{room.price_pp_pn}}</td>
            <td  class="td-filled">{{i}}
              <select  class="form-control" #rooms (change)="getRoomsPrice(rooms.value,room.price_pp_pn)">
                <option  value="0">0</option>
                <option  value="1">1 (PKR {{room.price_pp_pn *1}})</option>
                <option  value="2">2 (PKR {{room.price_pp_pn *2}})</option>
                <option  value="3">3 (PKR {{room.price_pp_pn *3}})</option>
                <option  value="4">4 (PKR {{room.price_pp_pn *4}})</option>
                <option  value="5">5 (PKR {{room.price_pp_pn *5}})</option>
              </select>
            </td>

          </tr>
        </tbody>
      </table>
      <h4 > Info</h4>
      <table  cellspacing="7" class="table table-bordered">
        <tbody >
          <tr >
            <td  width="30%">
              <b >Check In</b>
            </td>
            <td >12:00:00 -- 14:00:00</td>
          </tr>
          <tr >
            <td >
              <b >Check Out</b>
            </td>
            <td >12:00:00 -- 14:00:00</td>
          </tr>
        </tbody>
      </table>

      <h4 >Policies at Islamabad Marriot Hotel</h4>
      <table  cellspacing="7" class="table table-bordered">
        <tbody >
          <tr >
            <td  width="30%">
              <b >Cancellation/Prepayment</b>
            </td>
            <td >
              <!---->
              <!---->
              <span  class="">Guests won't be charged anything if they cancel 1 day before check-in, otherwise they will pay for the full
                stay
              </span>
            </td>
          </tr>
          <tr >
            <td >
              <b >Accepted credit cards</b>
            </td>
            <td >

            </td>
          </tr>
          <tr >
            <td >
              <b >VAT/Tax settings</b>
            </td>
            <td >12:00:00 -- 14:00:00</td>
          </tr>
          <tr >
            <td >
              <b >City tax</b>
            </td>
            <td >12:00:00 -- 14:00:00</td>
          </tr>
        </tbody>
      </table>
    </mat-card>





  </div>
</section>

<mat-card class="reservation-options p-3 rounded-0 mat-card">
    <div class="d-flex align-items-center justify-content-between">
      <div class="d-flex">
        <div class="pr-3 border-right ng-star-inserted">
            <p class="mb-1">{{totalRoomsSelected}} Rooms Selected</p>
            <b class="text-primary">PKR </b>{{totalPrice}}
          </div>
          <div class="pl-3 text-warning">
            <p>You still need to fit 3 more adult.</p>
          </div>
      </div>
      <button class="btn btn-primary shadow-sm rounded-0">Continue Reservation</button>
    </div>
  </mat-card>

  <app-footer></app-footer>